<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-why-train-with-us"><%= t(".heading") %> </h2>
  <p class="govuk-body"><%= @provider.about_us %></p>
  <p class="govuk-body"><%= @provider.value_proposition %></p>
</div>
