<div class="app-advice__body" data-qa="course__loan_details">
  <p class="govuk-body">
    You may be eligible for a <%= govuk_link_to "loan while you study", "https://getintoteaching.education.gov.uk/funding-your-training#tuition-fee-and-maintenance-loans" %> – note that you’ll have to apply for <%= govuk_link_to "undergraduate student finance", "https://www.gov.uk/student-finance" %>.
  </p>
  <p class="govuk-body">
    Find out about financial support if you’re from <%= govuk_link_to "outside the UK", "https://getintoteaching.education.gov.uk/guidance/financial-support-for-international-applicants" %>.
  </p>
</div>
