<%= govuk_inset_text do %>
  <p class="govuk-body">Financial support for <%= course.cycle_range %> will be announced soon. Further information is available on <%= govuk_link_to "Get Into Teaching", "https://getintoteaching.education.gov.uk/funding-my-teacher-training/bursaries-and-scholarships-for-teacher-training", rel: "noopener noreferrer", target: "_blank" %>.</p>
<% end %>
