<div class="app-advice__body" data-qa="course__salary_details">
  <p class="govuk-body">
    Financial support is not available for this course because it comes with a salary.
  </p>
  <p class="govuk-body">
    You may be eligible for financial support if you choose a course without a salary. This support includes bursaries, scholarships and loans.
  </p>
</div>
