<div class="find-search-container">
  <div class="find-search-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Find teacher training courses in England</h1>

        <%= form_with(url: find_pre_filter_path, scope: :pre_filter, class: "find-input-and-search-container", method: :post) do |form| %>
          <div class="find-input-container">

            <div class="find-item">
              <label for="keyword-field" class="govuk-label govuk-label--s">
                Keywords
              </label>
              <input id="keyword-field" class="govuk-input" autocomplete="off" type="text" name="keyword">
            </div>

            <div class="find-item govuk-form-group" style="position: relative;">
              <%= form.label :lq, class: "govuk-label govuk-label--s" do %>
                City, town or postcode
              <% end %>
              <%= form.text_field :lq, class: "govuk-input", autocomplete: :off  %>
              <div id="location-autocomplete" class="govuk-body" style="position: absolute; width: 100%;"></div>
            </div>


            <div class="find-item govuk-!-width-full">
              <details class="govuk-details visa-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Visa sponsorship
                  </span>
                </summary>
                <div style="margin-top:10px; margin-bottom:10px;">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Only show courses that offer visa sponsorship
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                Learn more about
                <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/train-to-teach-in-england-as-an-international-student">training
                  to teach in England as an non-UK citizen</a>.
              </details>
            </div>

          </div><!--END input container-->

          <div>
            <%= form.submit "Search", name: nil, class: "govuk-button govuk-button--start search-align", data: { qa: "find-courses" } %>
          </div>
        <% end %> <!--END input and search container-->

      </div><!--END column-->
    </div><!--END grid row-->

  </div><!--END search content-->
</div><!--END search container-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third age-group">
    <p class="govuk-heading-m">
      Primary
      <br>
      <span class="govuk-body-s">
          Ages 5 to 11
        </span>
    </p>
    <span class="govuk-body">
        <a href="https://find-teacher-training-courses.service.gov.uk/results?age_group=primary&applications_open=true&c=England&can_sponsor_visa=false&has_vacancies=true&l=2&qualification%5B%5D=qts&qualification%5B%5D=pgce_with_qts&qualification%5B%5D=pgce+pgde&send_courses=false&study_type%5B%5D=full_time&study_type%5B%5D=part_time&subjects%5B%5D=00&subjects%5B%5D=01&subjects%5B%5D=02&subjects%5B%5D=03&subjects%5B%5D=04&subjects%5B%5D=06&subjects%5B%5D=07&visa_status=false">
          View all primary courses
        </a>
      </span>
  </div><!--END col full-->
  <div class="govuk-grid-column-one-third age-group">
    <p class="govuk-heading-m">
      Secondary
      <br>
      <span class="govuk-body-s">
          Ages 11 to 16
        </span>
    </p>
    <span class="govuk-body">
        <a href="subject-fund">
          Browse all secondary subjects
        </a>
      </span>
  </div><!--END col full-->
  <div class="govuk-grid-column-one-third age-group">
    <p class="govuk-heading-m">
      Further education
      <br>
      <span class="govuk-body-s">
          Over 16 and not studying for a degree
      </span>
    </p>

    <span class="govuk-body">
        <a href="https://find-teacher-training-courses.service.gov.uk/results?age_group=further_education&applications_open=true&c=England&can_sponsor_visa=false&has_vacancies=true&l=2&qualification%5B%5D=qts&qualification%5B%5D=pgce_with_qts&qualification%5B%5D=pgce+pgde&send_courses=false&study_type%5B%5D=full_time&study_type%5B%5D=part_time&subjects%5B%5D=41&visa_status=false">
          View all further education courses
        </a>
      </span>

  </div><!--END three cols-->
</div><!--END grid row-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner govuk-notification-banner--pink" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <h3 class="govuk-heading-m">
          Is teacher training right for me?<br>
          <span class="govuk-body">
          Choosing or changing a career can be a big decision.
        </span>
        </h3>
        <div class="govuk-grid-row govuk-notification-banner__content--home">
          <div class="govuk-grid-column-one-half">
            <div class="banner-inset-white banner-inset-white--first-child">
            <span class="govuk-body">
              <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me">Find out if teaching is right for you</a>
            </span>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="banner-inset-white">
            <span class="govuk-body">
              <a href="https://getintoteaching.education.gov.uk/help-and-support">Contact Get Into Teaching for free support</a>
            </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
