<aside class="app-advice">
  <h3 class="app-advice__title">
    <span class="app-advice__caption">Advice from <%= t("service_name.get_into_teaching") %></span>
    <%= title %>
  </h3>
  <div class="app-advice__body">
    <%= content %>
  </div>
</aside>
