<div class='moj-filter-layout'>
  <%= render Filters::View.new(filters:, filter_model: collection.klass) %>

  <div class='moj-filter-layout__content'>
    <div class="moj-action-bar">
      <div class="moj-action-bar__filter"></div>
    </div>

    <%= content %>

    <%= render Paginator::View.new(scope: collection) %>
  </div>
</div>
