<% page_title = "Locations" %>

<% content_for :page_title, page_title %>
<%= content_for :before_content, render_breadcrumbs(:sites) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= page_title %>
    </h1>

<p class="govuk-body">You can assign locations to a course by going to the ‘Basic details’ tab in ‘Courses’.</p>

    <p class="govuk-body">Once a location has been assigned to a course, candidates will be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see a list of assigned locations on the course page on Find</li>
      <li>select their preferred location when applying for a course</li>
    </ul>

    <table class="govuk-table app-table--vertical-align-middle">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Location code</th>
          <% if urn_required?(@recruitment_cycle.year.to_i) %>
            <th class="govuk-table__header" scope="col">URN</th>
          <% end %>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: "location", collection: @locations %>
      </tbody>
    </table>
    <%= govuk_button_link_to "Add location", new_publish_provider_recruitment_cycle_location_path(@provider.provider_code) %>
  </div>
</div>
