body:not(.js-enabled) {
  .govuk-accordion__section-header {
    padding-top: govuk-spacing(3);
  }

  .govuk-checkboxes {
    margin-bottom: govuk-spacing(3);
  }
}

.app-courses-guidance {
  .govuk-accordion__controls {
    display: none;
  }

  .govuk-accordion__section {
    border-left: 5px solid govuk-colour("orange");
    background-color: govuk-colour("light-grey");
    padding-bottom: govuk-spacing(1);
  }

  .govuk-accordion__section-heading {
    .govuk-accordion__section-button {
      padding-bottom: 0;
      padding-left: govuk-spacing(4);
      padding-right: govuk-spacing(4);
    }
  }

  .govuk-accordion__section-content {
    padding-left: govuk-spacing(4);
    padding-right: govuk-spacing(4);
    padding-top: 0;
    padding-bottom: 0;
  }

  .accordion--last-child {
    padding-bottom: govuk-spacing(5);
  }
}
