.app-active-filters__heading {
  padding: 0;
  margin: 0 0 govuk-spacing(3);

  @include govuk-font($size: 19);

  color: $govuk-text-colour;

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(2);
  }
}

.app-active-filters__remove-filters {
  display: flex;

  flex-wrap: wrap;

  gap: govuk-spacing(2);
  justify-content: flex-start;

  padding: 0;
  margin-block-start: 0;

  list-style: none;

  .govuk-visually-hidden {
    @include govuk-visually-hidden;
  }

  .govuk-link--no-visited-state:visited {
    color: $govuk-link-colour;
  }
}

.app-active-filters__remove-filter {
  display: flex;

  align-items: center;

  padding: govuk-spacing(1) govuk-spacing(2);

  color: $govuk-text-colour;

  text-align: left;

  text-decoration: none;

  cursor: pointer;

  background-color: govuk-colour("light-grey");
  border: 1px solid $govuk-border-colour;
  border-radius: 0.3125em;

  &::before {
    position: relative;
    top: 1px;

    display: inline-block;

    padding-right: govuk-spacing(1);
    margin-right: 0;

    font-size: 22px;

    line-height: 1;

    color: $govuk-text-colour;

    content: "×";
  }

  &:hover {
    text-decoration: none;

    background-color: govuk-colour("light-grey");
    border-color: $govuk-text-colour;
  }

  &:focus {
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;

    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 $govuk-text-colour;
  }

  &:active {
    background-color: govuk-colour("light-grey");
  }

  @include govuk-media-query($until: tablet) {
    display: inline-flex;
  }
}

.app-active-filters__remove-filter-text {
  display: inline;

  @include govuk-font($size: 19, $weight: regular);

  color: $govuk-text-colour;

  text-decoration: inherit;
}

.app-active-filters__clear-filters {
  display: inline-block;

  @include govuk-media-query($until: tablet) {
    display: block;

    margin-top: govuk-spacing(2);
  }
}
