.app-c-filter-summary__heading {
  padding: 0;
  margin: 0 0 15px;

  font-size: 19px;
  font-weight: 400;

  line-height: 1.3158;

  color: #0b0c0c;

  @media (max-width: 768px) {
    margin-bottom: 12px;

    line-height: 1.375;
  }
}

.app-c-filter-summary__remove-filters {
  padding: 0;
  margin: 0 0 15px;

  list-style: none;

  li {
    display: inline-block;

    margin-right: 15px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      display: inline-block;

      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}

.app-c-filter-summary__remove-filter {
  display: inline-flex;

  align-items: center;

  padding: 5px 10px;

  line-height: 1.3158;

  color: #0b0c0c;

  text-align: left;

  text-decoration: none;

  cursor: pointer;

  background-color: #f3f2f1;
  border: 1px solid #b1b4b6;
  border-radius: 0.3125em;

  &::before {
    position: relative;
    top: 1px;

    display: inline-block;

    margin-right: 0;

    font-size: 22px;

    padding-right: 5px;

    line-height: 1;

    color: #0b0c0c;

    content: "×";
  }

  &:hover {
    text-decoration: none;

    background-color: #f3f2f1;
    border-color: #0b0c0c;
  }

  &:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;

    background-color: #ffdd00;
    box-shadow: 0 2px 0 #0b0c0c;
  }

  &:active {
    background-color: #e8e8e6;
  }

  @media (max-width: 768px) {
    display: inline-flex;

    white-space: nowrap;
  }
}

.app-c-filter-summary__remove-filter-text {
  display: inline;

  font-family: "GDS Transport", arial, sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;

  color: #0b0c0c;

  text-decoration: inherit;
}

.app-c-filter-summary__clear-filters {
  display: inline-block;

  &:link,
  &:visited {
    color: #1d70b8;
  }

  &:hover {
    color: #105a92;

    text-decoration: none;
  }

  &:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;

    background-color: #ffdd00;
    box-shadow: 0 2px 0 #0b0c0c;
  }

  &:active {
    color: #0b0c0c;
  }

  @media (max-width: 768px) {
    display: block;

    margin-top: 12px;
  }
}

.govuk-visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
}

.govuk-link--no-visited-state:visited {
  color: #1d70b8;
}
