.unstyled-button {
  padding: 0;

  cursor: pointer;

  background: none;
  border: none;
}

.banner-button-component {
  display: flex;

  &__button {
    display: inline-flex;

    text-decoration: none;
  }

  &__text {
    @include govuk-font(19);

    font-weight: 700;

    color: $govuk-link-colour;
  }
}
