.govuk-inset-text.app-callout {
  padding: govuk-spacing(3);

  background-color: govuk-colour("light-grey");
  border-left-width: govuk-spacing(1);

  &.app-callout--pink {
    margin-top: 0;

    border-left-color: govuk-colour("pink");
  }

  @include govuk-media-query($from: tablet) {
    min-height: 130px;

    padding: govuk-spacing(4);
  }
}
