.app-filter-alert__icon {
  height: 1rem;

  fill: currentColor;
}

.app-email-alert-summary {
  .app-summary-list__key {
    display: block;

    width: 100%;

    padding: 0;
  }

  .app-summary-list__value {
    display: block;

    padding: 0;
    margin-bottom: govuk-spacing(3);
  }
}
