.app-feedback {
  @include govuk-clearfix;
  box-sizing: border-box;

  flex-wrap: wrap;

  align-items: center;

  min-height: 80px;

  padding: govuk-spacing(2) govuk-spacing(5);

  outline: 0;

  background-color: govuk-colour("light-grey");
}
