.app-filter__group {
  .govuk-fieldset {
    .govuk-checkboxes {
      .scrollable-filter {
        margin-left: -10px;
        overflow-y: auto;
        padding-left: 10px;
      }

      .primary-scrollable-filter {
        max-height: 165px;
      }

      .secondary-scrollable-filter {
        max-height: 155px;
      }
    }
  }
}
