// stylelint-disable max-nesting-depth
.filtering-sorting {
  .app-filter-layout {
    @include govuk-clearfix;
  }

  .app-filter-layout__filter {
    @include govuk-media-query(desktop) {
      float: left;

      max-width: govuk-grid-width("one-third");

      margin-right: govuk-spacing(6);
    }
  }

  .app-filter-layout__content {
    @include govuk-media-query(desktop) {
      float: right;

      width: 100%;
      max-width: calc(#{govuk-grid-width("two-thirds")} - #{govuk-spacing(6)});
    }
  }
}
