.app-filter-layout {
  @include govuk-clearfix;
}

.app-filter-layout__filter {
  @include govuk-media-query(desktop) {
    float: left;

    max-width: govuk-grid-width("one-third");

    margin-right: govuk-spacing(6);
  }
}

.js-enabled {
  .app-filter-layout__filter {
    outline: 0 none;

    @include govuk-media-query($until: desktop) {
      position: fixed;
      top: govuk-spacing(1);
      right: govuk-spacing(1);
      bottom: govuk-spacing(1);
      z-index: 100;

      display: none;

      width: 100%;
      min-width: 260px;
      max-width: 310px;

      overflow-y: scroll;

      background-color: govuk-colour("light-grey");
      border: 1px solid govuk-colour("mid-grey");

      &:focus {
        outline: $govuk-focus-width solid $govuk-focus-colour;
      }
    }

    &.app-filter-layout__filter--open {
      display: block;
    }
  }

  .app-filter__toggle,
  .app-filter__close {
    @include govuk-media-query($until: desktop) {
      display: block;
    }
  }
}

.app-filter__toggle,
.app-filter__close {
  display: none;
}

.app-filter-layout__content {
  @include govuk-media-query(desktop) {
    float: right;

    width: 100%;
    max-width: calc(#{govuk-grid-width("two-thirds")} - #{govuk-spacing(6)});
  }
}
