.map-marker {
  position: absolute;

  width: 200px;
  height: 0;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 0;
    height: 0;

    content: "";

    border-top: 8px solid govuk-colour("white");
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;

    transform: translate(-50%, -1px);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    display: none;

    width: 30px;
    height: 30px;

    font-size: 25px;

    color: govuk-colour("black");

    cursor: pointer;

    background: none;
    border: none;
  }

  &__title {
    @include govuk-font($size: 14, $line-height: 1.2, $weight: bold);
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    max-width: 120px;
    max-height: 60px;

    padding: govuk-spacing(1);

    overflow-x: hidden;

    background-color: govuk-colour("white");
    border: 1px solid $govuk-border-colour;
    box-shadow: 0 1px 2px 1px rgba(govuk-colour("black"), 0.2);

    transform: translate(-50%, -100%);
  }

  &__body {
    position: relative;

    display: none;

    @include mq($from: desktop) {
      min-width: 300px;
    }
  }

  &.open {
    z-index: 2;

    .map-marker__content {
      max-width: none;
      max-height: none;

      padding: govuk-spacing(2);
    }

    .map-marker__title {
      @include govuk-font($size: 19, $line-height: 1.5, $weight: bold);
      @include govuk-responsive-margin(2, "bottom");
      padding-right: 20px;
    }

    .map-marker__body {
      display: block;
    }

    .map-marker__close {
      display: inline-block;
    }
  }

  .govuk-heading-s {
    @include govuk-responsive-margin(2, "bottom");
    padding-right: 20px;
  }

  .govuk-body,
  .govuk-list {
    @include govuk-font($size: 16, $line-height: 1.5);
    @include govuk-responsive-margin(2, "bottom");
  }

  .govuk-list {
    margin-bottom: -10px;
  }
}

.app-google-map {
  display: none;

  .js-enabled & {
    display: block;

    width: 100%;

    padding-bottom: 66.6%;
    margin-bottom: govuk-spacing(6);
  }
}
