.quick-link-card {
  padding: govuk-spacing(3);

  background-color: govuk-colour("light-grey");

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(4);
  }

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(4);
  }
}
