.govuk-summary-card.app-recent-search-summary-card {
  .govuk-summary-card__title-wrapper {
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
  }

  .govuk-summary-card__actions {
    @include govuk-font($size: 19, $weight: regular);

    justify-content: left;

    margin: govuk-spacing(1) 0 0;

    text-align: left;
  }
}

.app-recent-search-tags {
  display: flex;

  flex-wrap: wrap;

  gap: govuk-spacing(2);

  padding: 0;
  margin: 0;

  list-style: none;

  @include govuk-media-query($until: tablet) {
    padding-bottom: govuk-spacing(4);
  }
}

.app-recent-search-tag {
  display: inline-flex;

  align-items: center;

  padding: govuk-spacing(1) govuk-spacing(2);

  @include govuk-font($size: 19, $weight: regular);
  color: $govuk-text-colour;

  background-color: govuk-colour("white");
  border: 1px solid $govuk-border-colour;
  border-radius: 0.3125em;
}
