.app-saved-courses-search {
  @include govuk-responsive-padding(6);
  @include govuk-responsive-margin(6, "bottom");

  background-color: #f3f2f1;

  .autocomplete__input {
    background-color: govuk-colour("white");
  }
}

.app-saved-courses-search__location-row {
  display: grid;

  grid-template-columns: 1fr auto;

  column-gap: govuk-spacing(4);
  align-items: end;

  .govuk-label {
    grid-column: 1 / -1;
  }

  .govuk-input {
    grid-row: 2;
    grid-column: 1;
  }

  .app-saved-courses-search__button {
    grid-row: 2;
    grid-column: 2;
  }

  @include govuk-media-query($until: tablet) {
    grid-template-columns: 1fr;

    row-gap: govuk-spacing(2);

    .govuk-input {
      grid-column: 1;
    }

    .app-saved-courses-search__button {
      grid-row: 3;
      grid-column: 1;
    }
  }
}

.app-saved-courses-search__button {
  align-self: end;

  padding-right: govuk-spacing(6);
  padding-left: govuk-spacing(6);
  margin-bottom: 0;

  white-space: nowrap;
}

.app-saved-course-location {
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    width: 65%;
  }
}

.app-saved-course-location-input {
  margin-bottom: 0;
}

.app-saved-courses-sort--inline {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.app-saved-courses-sort--list {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.app-saved-course__status-tag {
  margin-top: govuk-spacing(2);
}

.app-saved-course__status-tag .govuk-tag {
  max-width: none;
}

.app-saved-course__card-title {
  display: flex;

  gap: govuk-spacing(4);
  justify-content: space-between;
}

.app-saved-course__card-title-delete {
  text-align: right;
}

// On small screens, stack so Delete appears below the status tag.
// Also reduce the font size of the status tag.
@include govuk-media-query($until: tablet) {
  .app-saved-course__status-tag .govuk-tag {
    font-size: 16px;
  }

  .app-saved-course__card-title {
    flex-direction: column;
  }

  .app-saved-course__card-title-delete {
    padding: 0;

    text-align: left;
  }
}
