.app-saved-course__cell {
  position: relative;

  padding-top: 0;
  padding-right: govuk-spacing(8);
  padding-bottom: 0;
}

.app-saved-course__cell-link {
  display: block;

  color: inherit;

  text-decoration: none;

  &:hover {
    text-decoration: underline;

    background-color: govuk-colour("light-grey");
  }
}

.app-saved-course__cell-content {
  display: flex;

  justify-content: space-between;

  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
  padding-left: govuk-spacing(2);
}

.app-saved-course__status-tag .govuk-tag {
  max-width: none;
}

.app-saved-course__card-title {
  display: flex;

  gap: govuk-spacing(4);
  justify-content: space-between;
}

.app-saved-course__card-title-delete {
  text-align: right;
}

// On small screens, stack so Delete appears below the status tag.
@include govuk-media-query($until: tablet) {
  .app-saved-course__card-title {
    flex-direction: column;
  }

  .app-saved-course__card-title-delete {
    padding: 0;

    text-align: left;
  }
}
