.app-saved-courses-search {
  padding: 20px;
  margin-bottom: 20px;

  background-color: #f3f2f1;

  @include govuk-media-query($from: tablet) {
    padding: 30px;
    margin-bottom: 30px;
  }
}

.app-saved-courses-search__location-row {
  display: grid;

  grid-template-columns: 1fr auto;

  column-gap: 20px;
  align-items: end;

  .govuk-label {
    grid-column: 1 / -1;
  }

  .govuk-input {
    grid-row: 2;
    grid-column: 1;
  }

  .app-saved-courses-search__button {
    grid-row: 2;
    grid-column: 2;
  }
}

.app-saved-courses-search__button {
  align-self: end;

  padding-right: 32px;
  padding-left: 32px;
  margin-bottom: govuk-spacing(1);
  margin-bottom: 0;

  white-space: nowrap;
}

.app-saved-course-location {
  margin-bottom: 0;

  @media (min-width: 48.0625em) {
    width: 65%;
  }
}

.app-saved-course-location-input {
  margin-bottom: 0;
}

.app-saved-course__status-tag {
  margin-top: govuk-spacing(2);
}

.app-saved-course__status-tag .govuk-tag {
  max-width: none;
}

.app-saved-course__card-title {
  display: flex;

  gap: govuk-spacing(4);
  justify-content: space-between;
}

.app-saved-course__card-title-delete {
  text-align: right;
}

// On small screens, stack so Delete appears below the status tag.
// Also reduce the font size of the status tag.
@include govuk-media-query($until: tablet) {
  .app-saved-course__status-tag .govuk-tag {
    font-size: 16px;
  }

  .app-saved-course__card-title {
    flex-direction: column;
  }

  .app-saved-course__card-title-delete {
    padding: 0;

    text-align: left;
  }
}
