.app-card--inset {
  padding: govuk-spacing(3);
  margin: 0 0 20px;

  * {
    font-weight: 700;
  }

  .govuk-body {
    @include govuk-font($size: 16);

    @include govuk-media-query($from: tablet) {
      @include govuk-font($size: 19);
    }
  }
}

.app-search-results {
  padding-left: 0;
  margin: 0;
}

.app-search-results__item {
  @include govuk-responsive-margin(4, "bottom");
  display: block;
}

.app-search-result__item-title {
  @include govuk-font($size: 24, $weight: bold);
  @include govuk-responsive-margin(4, "bottom");
  margin-top: 0;

  a {
    text-decoration: none;
  }
}

.app-search-result__provider-name {
  @include govuk-font($size: 19, $weight: "bold");
}

.app-search-result__course-name {
  display: block;

  text-decoration: underline;
}

.app-search__controls {
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(5);

  background-color: govuk-colour("light-grey");

  .autocomplete__input {
    background-color: govuk-colour("white");
  }

  .govuk-form-group {
    margin-bottom: govuk-spacing(4);
  }

  .govuk-button {
    min-height: 42px;

    padding-right: 32px;
    padding-left: 32px;
    margin-bottom: 0;
  }

  @include govuk-media-query($from: "desktop") {
    padding: govuk-spacing(6);
  }
}

.app-search__controls .app-find-search {
  display: flex;

  flex-direction: column;

  gap: govuk-spacing(4);

  .govuk-form-group {
    padding: 0;
    margin: 0;
  }

  > * {
    flex-grow: 1;
  }

  > :last-child {
    flex-grow: 0;
  }

  @include govuk-media-query($from: "desktop") {
    flex-direction: row;

    > * {
      align-self: flex-end;
    }
  }
}
