.app-search-results {
  @include govuk-responsive-padding(4, "top");
  margin: 0;
  padding-left: 0;
  border-top: 1px solid $govuk-border-colour;
}

.app-search-results__item {
  @include govuk-responsive-margin(4, "bottom");
  display: block;
}

.app-search-result__item-title {
  @include govuk-font($size: 24, $weight: bold);
  @include govuk-responsive-margin(4, "bottom");
  margin-top: 0;

  a {
    text-decoration: none;
  }
}

.app-search-result__provider-name {
  @include govuk-font($size: 19, $weight: "bold");
}

.app-search-result__course-name {
  display: block;
  text-decoration: underline;
}

.app-search-results-header {
  border-top: 1px solid $govuk-border-colour;
  padding: govuk-spacing(2) 0;

  @include govuk-media-query($from: "desktop") {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.app-search-results-header__sort {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  * {
    margin: 0 govuk-spacing(1);
  }

  .govuk-button {
    top: -1px;
  }

  @include govuk-media-query($until: "mobile") {
    .govuk-label {
      margin-bottom: govuk-spacing(2);
    }
  }

  @include govuk-media-query($until: "tablet") {
    .govuk-select {
      flex: 1;
      margin: 0;
    }

    .govuk-button {
      margin: 0;
      margin-top: govuk-spacing(2);
    }
  }
}
