<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Applications</h3>
<p class="govuk-body" data-qa="course__open_for_applications"><%= course.open_or_closed_for_applications %></p>

<h3 class="govuk-heading-s govuk-!-margin-0">Vacancies</h3>
<p class="govuk-body" data-qa="course__has_vacancies">
  <%= course.vacancies %>
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
<h3 class="govuk-heading-m">Preview</h3>
<p class="govuk-body">See how this course looked.</p>
<p class="govuk-body">
  <%= govuk_link_to "Preview course", preview_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code), "data-qa": "course__preview-link" %>
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

<h3 class="govuk-heading-m">Publish</h3>
<p class="govuk-body">
  If you need to republish this course contact the Becoming a Teacher team:<br><%= bat_contact_mail_to subject: "Republish a withdrawn course" %>
</p>
