ruby                 3.4.2
kubectl              1.32.2
yarn                 1.22.22
nodejs               20.10.0
terraform            1.4.5
azure-cli            2.70.0
azure-kubelogin      latest
jq                   1.7.1
make                 4.4.1
caddy                2.9.1
k6	                 1.2.3
