version: '3.4'
volumes:
  dbdata:
services:

  redis:
    image: redis

  db:
    image: postgres:9.6-alpine
    # To preserve data between runs of docker-compose, we mount a folder from the host machine.
    volumes:
     - dbdata:/var/lib/postgresql/data
    environment:
    - POSTGRES_PASSWORD=developmentpassword

  middleman:
    build:
      context: .
      target: middleman
      cache_from:
        - ${dockerHubUsername:-dfedigital}/teacher-training-api-middleman:master
    image: ${dockerHubUsername:-dfedigital}/teacher-training-api-middleman:${GIT_BRANCH:-latest}

  web:
    build:
      context: .
      cache_from:
        - ${dockerHubUsername:-dfedigital}/teacher-training-api:${GIT_BRANCH:-latest}
        - ${dockerHubUsername:-dfedigital}/teacher-training-api-middleman:master
    image: ${dockerHubUsername:-dfedigital}/teacher-training-api:${GIT_BRANCH:-latest}
    command: ash -c "rm -f tmp/pids/server.pid && bundle exec rails server -p 3001 -b '0.0.0.0'"
    ports:
      - "3001:3001"
    depends_on:
      - db
      - middleman
      - redis
    environment:
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_PASSWORD=developmentpassword
      - CC_TEST_REPORTER_ID=${CC_TEST_REPORTER_ID}
      - AGENT_JOBSTATUS=${AGENT_JOBSTATUS}
      - GIT_BRANCH=${GIT_BRANCH}
      - REDIS_URL=redis://redis:6379
      - RAILS_ENV=test

  bgJobs:
    image: ${dockerHubUsername:-dfedigital}/teacher-training-api:${GIT_BRANCH:-latest}
    command: bundle exec sidekiq -c 5 -C config/sidekiq.yml
    depends_on:
      - web
      - db
      - redis
    environment:
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_PASSWORD=developmentpassword
      - SETTINGS__APPLICATION=teacher-training-api-bg
      - REDIS_URL=redis://redis:6379
