<h1 class="govuk-heading-l">Courses</h1>

<h2 class="govuk-heading-m">Variant 1</h2>

<% @courses.each do |course| %>
  <h2 class="govuk-heading-m">
    <%= govuk_link_to find_course_path(course.provider_code, course.course_code, **request.query_parameters), no_visited_state: true do %>
      <%= "#{course.provider.provider_name} - #{course.name_and_code}" %>
    <% end %>
  </h2>
<% end %>

<h2 class="govuk-heading-m">Variant 2</h2>

<% @courses.each do |course| %>
  <h2 class="govuk-heading-m">
    <%= govuk_link_to find_course_path(course.provider_code, course.course_code, variant: :v2, **request.query_parameters), no_visited_state: true do %>
      <%= "#{course.provider.provider_name} - #{course.name_and_code}" %>
    <% end %>
  </h2>
<% end %>
