<%= content_for :page_title, 'Applications closed' %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">This service is currently down for maintenance</h1>

      <p class="govuk-body">The service will be available soon.</p>
      <p class="govuk-body">If you have any questions, contact us at <%= govuk_mail_to bat_contact_email_address %>.</p>
    </div>
  </div>
</div>
