<% content_for :page_title, t("course_wizard.steps.check_answers.heading") %>

<h1 class="govuk-heading-l">
  <%= render CaptionText.new(text: t("course_wizard.steps.check_answers.caption")) %>
  <%= t("course_wizard.steps.check_answers.heading") %>
</h1>

<%= render Publish::CheckAnswers::SummaryComponent.new(wizard: @wizard) %>

<%= form.govuk_submit t("course_wizard.steps.check_answers.submit") %>
