<p class="govuk-body"><%= t("publish.providers.about_course.edit.description") %></p>
<div>
  <%= t("publish.providers.about_course.edit.candidates_say_section_html") %>
</div>
<div>
  <%= t("publish.providers.about_course.edit.remember_to_section_html") %>
</div>

<p class="govuk-body">
  <%= govuk_link_to t("publish.providers.about_course.edit.view_examples"), course_summary_examples_path %>
</p>
