<p class="govuk-body"><%= t("publish.providers.about_course.edit.description") %></p>

<p class="govuk-body">
  Be as <strong>specific</strong> as possible. This will help candidates work out if they want to train with you.
</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See what you wrote last cycle
    </span>
  </summary>
  <div class="govuk-details__text">
   <p class="govuk-body">
    We are a growing, multi-campus university with over 10,000 students, where we equip you with the skills and practical experience to stand out. We’re the No. 1 University in the North West and Top 10 in the UK for graduates into employment or further study within 15 months (97% of graduates – HESA 2024).    </p>
   <p class="govuk-body">
    If you’re passionate about enriching young lives through education, you’ll have the resources and expertise to become the best educator you can be. With personalised support, a tailored curriculum, and intimate classroom settings where lecturers know you by name, you’ll grow every step of the way.     </p>
    <p class="govuk-body">
      With over 100 years of teacher training experience, you’ll receive all the support you need to inspire young minds. You’ll benefit from our strong partnerships with schools across the UK, refining your skills in diverse classroom environments. Our campus and school-based programmes offer placements that fully prepare you for a teaching role upon graduation.     </p>
    <p class="govuk-body">
      Start your journey with us in Lancaster, Carlisle, or London, and take the next step toward your future as an inspiring educator.     </p>
  </div>
</details>
