<p class="govuk-body"><%= t("publish.providers.about_course.edit.description") %></p>

<p class="govuk-body">
  Be as <strong>specific</strong> as possible. This will help candidates work out if they want to train with you.
</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See what you wrote last cycle
    </span>
  </summary>
  <div class="govuk-details__text">
    Academy Transformation Trust is a cross-phase group of academies; we have 21 academies in our family and we include primary, secondary, post-16 and FE settings. We operate across 10 English local authority areas.

We exist to transform life chances by achieving the highest possible standards and preparing all our students to lead successful lives and we achieve this through: hard work, integrity and teamwork.

We are committed to continuous improvement and strive to be exceptional in the quality of education we offer for all of our children and young people, as well in the working environment and development we offer our colleagues.

By training with Academy Transformation Trust Institute you will benefit from the joint expertise of Ambition and ATT; you’ll receive support from our extensive network of education professionals.
  </div>
</details>
