<p class="govuk-body"><%= t("publish.providers.about_course.edit.description") %></p>

<p class="govuk-body">
  <a class="govuk-link" href="#">See what you've already written about why candidates should train with you</a>
</p>
