<%= render PageTitle.new(title: "support.providers.schools.edit") %>

<h1 class="govuk-heading-l">Edit school details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render partial: "form", locals: { model: @site, site: @site, form_url: support_recruitment_cycle_provider_school_path } %>

    <p class="govuk-body">
      <%= govuk_link_to(t("cancel"), support_recruitment_cycle_provider_schools_path) %>
    </p>
  </div>
</div>
