<!-- Subjects filter-->
<fieldset class="filters-component__groups__group app-filter__group govuk-fieldset" data-filters-target="group" data-group="subjects">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s" style="margin-bottom:0;">
  Age group
</legend>  <div>
    <div class="searchable-collection-component" data-controller="searchable-collection">
      <div class=" searchable-collection-component--scrollable">

        <div id="subjects__listbox">
          <div class="govuk-form-group">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="age-group" name="age-group" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="age-group">
                  Primary - 3 to 11
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="age-group-2" name="age-group" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="age-group-2">
                  Secondary - 11 to 18
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>
<!--END subjects filter-->
