<!-- Subjects filter-->
<fieldset class="filters-component__groups__group app-filter__group govuk-fieldset" data-filters-target="group" data-group="subjects">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s" style="margin-bottom:0;">
  Age group
</legend>  <div>
    <div class="searchable-collection-component" data-controller="searchable-collection">
      <div class=" searchable-collection-component--scrollable">

        <div id="subjects__listbox">

          <div class="govuk-form-group">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" name="subjects[]">
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Primary
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" name="subjects[]">
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Secondary
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" name="subjects[]">
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Further education
                  </label>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>
<!--END subjects filter-->
