<fieldset class="govuk-fieldset app-filter__group" data-qa="filters__applications_open">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    Applications open
    <span class="govuk-visually-hidden"> filter</span>
  </legend>
  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :applications_open, {
          checked: @filters_view.has_applications_open_checked? || @filters_view.default_with_applications_open_to_true,
          data: { qa: "applications_open" },
          class: "govuk-checkboxes__input"
        },
        "true",
        "false"
      ) %>
      <%= form.label(:applicationsopen_true, { for: "applications_open" }, class: "govuk-label govuk-checkboxes__label") do %>
          Only show courses open for applications
      <% end %>
    </div>
  </div>
</fieldset>
