  <fieldset class="govuk-fieldset app-filter__group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Further education
        <br>
        <span class="govuk-hint govuk-!-font-size-16">(ages 16 and over)</span>
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="organisation">
          Further education courses
        </label>
      </div>
    </div>
  </fieldset>
