<!-- Subjects filter-->
<fieldset class="filters-component__groups__group app-filter__group govuk-fieldset" data-filters-target="group" data-group="subjects">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" style="margin-bottom:0;">
    Primary
    <br>
        <span class="govuk-hint govuk-!-font-size-16">(ages 3 to 11)</span>
  </legend>
  <div>
    <div class="searchable-collection-component" data-controller="searchable-collection">
      <div class=" searchable-collection-component--scrollable filter-max-height-primary">

        <div id="subjects__listbox">

          <div class="govuk-form-group">

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <input type="hidden"  value="" autocomplete="off">
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-0" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-0" class="govuk-label govuk-checkboxes__label">
                    Primary
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-1" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-1" class="govuk-label govuk-checkboxes__label">
                    Primary with English
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-2" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-2" class="govuk-label govuk-checkboxes__label">
                    Primary with geography and history
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-3" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-3" class="govuk-label govuk-checkboxes__label">
                    Primary with mathematics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-4" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-4" class="govuk-label govuk-checkboxes__label">
                    Primary with modern languages
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-5" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-5" class="govuk-label govuk-checkboxes__label">
                    Primary with physical education
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="primary-filter-field-6" class="govuk-checkboxes__input" aria-describedby="primary-filter-hint" type="checkbox" value="Accounting" >
                  <label for="primary-filter-field-6" class="govuk-label govuk-checkboxes__label">
                    Primary with science
                  </label>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>
<!--END subjects filter-->
