<% if @filters_view.radius.present? %>
  <fieldset class="govuk-fieldset app-filter__group" data-qa="filters__radius">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-label govuk-fieldset__legend govuk-fieldset__legend--s" for="sort">
        Search radius
      </label>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item" data-qa="radius-select">
        <%= form.select :radius, options_for_select(@filters_view.radius_options.map { |r| [t(".radius_select.label", count: r), r] }, @filters_view.radius), {}, class: "govuk-select" %>
      </div>
    </div>
  </fieldset>
<% end %>
