<fieldset class="govuk-fieldset app-filter__group" data-qa="filters__funding">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Salary</legend>

  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item" data-qa="subject">
      <%= form.check_box(
        :funding,
        { checked: @filters_view.funding_checked?, class: "govuk-checkboxes__input" },
        "8",
        nil,
      ) %>
      <%= form.label(:funding, { for: "funding" }, class: "govuk-label govuk-checkboxes__label") do %>
        Only show courses that come with a salary
      <% end %>
    </div>
  </div>
</fieldset>
