<fieldset class="govuk-fieldset app-filter__group" data-qa="filters__study_type">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    Study type<span class="govuk-visually-hidden"> filter</span>
  </legend>
  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :study_type,
        {
          class: "govuk-checkboxes__input",
          multiple: true,
          data: { qa: "full_time" },
          checked: @filters_view.full_time_checked? || @filters_view.default_study_types_to_true,
        },
        "full_time",
        nil
      ) %>
      <%= form.label :full_time, class: "govuk-label govuk-checkboxes__label" do %>
        Full time (12 months)
      <% end %>
    </div>

    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :study_type,
        {
          class: "govuk-checkboxes__input",
          multiple: true,
          data: { qa: "part_time" },
          checked: @filters_view.part_time_checked? || @filters_view.default_study_types_to_true,
        },
        "part_time",
        nil
      ) %>
      <%= form.label :part_time, class: "govuk-label govuk-checkboxes__label" do %>
        Part time (18 to 24 months)
      <% end %>
    </div>
  </div>
</fieldset>
