<fieldset class="govuk-fieldset app-filter__group" data-qa="filters__study_type">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Study type</legend>
  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :fulltime,
        { checked: @filters_view.full_time_checked? || @filters_view.default_study_types_to_true, class: "govuk-checkboxes__input" },
        "true",
        nil,
      ) %>
      <%= form.label :fulltime, class: "govuk-label govuk-checkboxes__label" do %>
        Full time (12 months)
      <% end %>
    </div>

    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :parttime,
        { checked: @filters_view.part_time_checked? || @filters_view.default_study_types_to_true, class: "govuk-checkboxes__input" },
        "true",
        nil,
      ) %>
      <%= form.label :parttime, class: "govuk-label govuk-checkboxes__label" do %>
        Part time (18 to 24 months)
      <% end %>
    </div>
  </div>
</fieldset>
