<!-- Subjects filter-->
<fieldset class="filters-component__groups__group app-filter__group govuk-fieldset" data-filters-target="group" data-group="subjects">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s bottom-margin">
    Secondary
    <br>
        <span class="govuk-hint govuk-!-font-size-16">(ages 11 to 18)</span>
  </legend>
  <div>
    <div class="searchable-collection-component" data-controller="searchable-collection">
      <div class=" searchable-collection-component--scrollable filter-max-height-secondary">

        <div class="searchable-collection-component__search" style="margin-bottom:10px;">
          <input aria-controls="subjects__listbox" aria-expanded="true" aria-label="Subject" class="govuk-input icon icon--left icon--search js-action" data-action="input->searchable-collection#input" data-searchable-collection-target="input" placeholder="Search" role="combobox">
          <div aria-live="assertive" class="govuk-visually-hidden collection-match" role="status">
          </div>
        </div>

        <div id="subjects__listbox">

          <div class="govuk-form-group">

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <input type="hidden"  value="" autocomplete="off">
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-0" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-0" class="govuk-label govuk-checkboxes__label">
                    All secondary courses
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-1" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-1" class="govuk-label govuk-checkboxes__label">
                    Ancient Greek
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-2" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-2" class="govuk-label govuk-checkboxes__label">
                    Ancient Hebrew
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-3" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-3" class="govuk-label govuk-checkboxes__label">
                    Art and design
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-4" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-4" class="govuk-label govuk-checkboxes__label">
                    Biology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-5" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-5" class="govuk-label govuk-checkboxes__label">
                    Business studies
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-6" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-6" class="govuk-label govuk-checkboxes__label">
                    Chemistry
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-7" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-7" class="govuk-label govuk-checkboxes__label">
                    Citizenship
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-8" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-8" class="govuk-label govuk-checkboxes__label">
                    Classics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-9" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-9" class="govuk-label govuk-checkboxes__label">
                    Communication and media studies
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-10" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-10" class="govuk-label govuk-checkboxes__label">
                    Computing
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-11" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-11" class="govuk-label govuk-checkboxes__label">
                    Dance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-12" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-12" class="govuk-label govuk-checkboxes__label">
                    Design and technology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-13" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-13" class="govuk-label govuk-checkboxes__label">
                    Drama
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-14" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-14" class="govuk-label govuk-checkboxes__label">
                    Economics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-15" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-15" class="govuk-label govuk-checkboxes__label">
                    English
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-16" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-16" class="govuk-label govuk-checkboxes__label">
                    French
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-17" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-17" class="govuk-label govuk-checkboxes__label">
                    Geography
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-18" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-18" class="govuk-label govuk-checkboxes__label">
                    German
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-19" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-19" class="govuk-label govuk-checkboxes__label">
                    Health and social care
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-20" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-20" class="govuk-label govuk-checkboxes__label">
                    History
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-21" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-21" class="govuk-label govuk-checkboxes__label">
                    Italian
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-22" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-22" class="govuk-label govuk-checkboxes__label">
                    Japanese
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-23" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-23" class="govuk-label govuk-checkboxes__label">
                    Latin
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-24" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-24" class="govuk-label govuk-checkboxes__label">
                    Mandarin
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-25" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-25" class="govuk-label govuk-checkboxes__label">
                    Mathematics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-26" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-26" class="govuk-label govuk-checkboxes__label">
                    Modern languages (other)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-27" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-27" class="govuk-label govuk-checkboxes__label">
                    Music
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-28" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-28" class="govuk-label govuk-checkboxes__label">
                    Philosophy
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-29" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-29" class="govuk-label govuk-checkboxes__label">
                    Physical education
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-30" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-30" class="govuk-label govuk-checkboxes__label">
                    Physical education with an EBacc subject
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-31" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-31" class="govuk-label govuk-checkboxes__label">
                    Physics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-32" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-32" class="govuk-label govuk-checkboxes__label">
                    Psychology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-33" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-33" class="govuk-label govuk-checkboxes__label">
                    Religious education
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-34" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-34" class="govuk-label govuk-checkboxes__label">
                    Russian
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-35" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-35" class="govuk-label govuk-checkboxes__label">
                    Science
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-36" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-36" class="govuk-label govuk-checkboxes__label">
                    Social sciences
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subject-filter-field-37" class="govuk-checkboxes__input" aria-describedby="subject-filter-hint" type="checkbox" value="Accounting" >
                  <label for="subject-filter-field-37" class="govuk-label govuk-checkboxes__label">
                    Spanish
                  </label>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>
<!--END subjects filter-->
