<!-- Subjects filter-->
<fieldset class="filters-component__groups__group app-filter__group govuk-fieldset" data-filters-target="group" data-group="subjects">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" style="margin-bottom:0;">
    Subject
  </legend>
  <div>
    <div class="searchable-collection-component" data-controller="searchable-collection">
      <div class=" searchable-collection-component--scrollable">

        <div class="searchable-collection-component__search" style="margin-bottom:10px;">
          <input aria-controls="subjects__listbox" aria-expanded="true" aria-label="Subject" class="govuk-input icon icon--left icon--search js-action" data-action="input->searchable-collection#input" data-searchable-collection-target="input" placeholder="Search" role="combobox">
          <div aria-live="assertive" class="govuk-visually-hidden collection-match" role="status">
          </div>
        </div>

        <div id="subjects__listbox">

          <div class="govuk-form-group">

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <input type="hidden"  value="" autocomplete="off">
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Ancient Greek
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Ancient Hebrew
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Art and design
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Biology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Business studies
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Chemistry
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Citizenship
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Classics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Communication and media studies
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Computing
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Dance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Design and technology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Drama
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Economics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    English
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    French
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Geography
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    German
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Health and social care
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    History
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Italian
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Japanese
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Latin
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Mandarin
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Mathematics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Modern languages (other)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Music
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Philosophy
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Physical education
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Physical education with an EBacc subject
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Physics
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Psychology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Religious education
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Russian
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Science
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Social sciences
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="subjects-chemistry-field" class="govuk-checkboxes__input" aria-describedby="subjects-chemistry-hint" type="checkbox" value="Accounting" >
                  <label for="subjects-chemistry-field" class="govuk-label govuk-checkboxes__label">
                    Spanish
                  </label>
                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>
<!--END subjects filter-->
