<fieldset class="govuk-fieldset app-filter__group" data-qa="filters__vacancies">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Vacancies</legend>
  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <%= form.check_box(
        :hasvacancies, {
          checked: @filters_view.has_vacancies_checked? || @filters_view.default_with_vacancies_to_true,
          data: { qa: "with_vacancies" },
          class: "govuk-checkboxes__input",
        },
        "true",
        "false"
      ) %>
      <%= form.label(:hasvacancies_true, { for: "hasvacancies" }, class: "govuk-label govuk-checkboxes__label") do %>
        Only show courses with vacancies
      <% end %>
    </div>
  </div>
</fieldset>
