<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <%= govuk_link_to(provider.provider_name, support_recruitment_cycle_provider_path(provider.recruitment_cycle_year, provider)) %>
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <%= govuk_link_to(t("components.accredited_provider.remove"), remove_path, class: "app-link--destructive govuk-!-font-weight-regular") %>
        <span class="govuk-visually-hidden"> (<%= provider.name_and_code %>)</span>
      </li>
    </ul>
  </div>
</div>
