<% if required_organisation_details_present? %>
  <%= govuk_button_link_to(
    "Add course",
    new_publish_provider_recruitment_cycle_course_path(
      provider_code: provider.provider_code,
      recruitment_cycle_year: provider.recruitment_cycle_year
    ),
    class: "govuk-!-margin-bottom-6"
  ) %>

<% else %>

  <div class="govuk-inset-text">
    <p class="govuk-body">Before adding a course, you need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <% incomplete_sections.each do |section| %>
        <li>
          <%= govuk_link_to(section.name, section.path) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
