<button type="button">
  <%= link_to full_title, { sort: column, direction: }, class: "govuk-link govuk-link--no-visited-state" %>
  <span class="govuk-visually-hidden">Sort by <%= title.downcase %></span>
</button>
