
<h1 class="govuk-heading-l">Sign in to continue</h1>

<% if AuthenticationService.dfe_signin? %>
  <p class="govuk-body-m">We're making improvements to Publish. To continue, you'll need to sign in again to use the latest version.</p>

  <%= govuk_button_to("Sign in", "/auth/dfe", class: "qa-sign_in_button") %>
<% else %>
  <p class="govuk-body-m">Use Personas to continue signing in.</p>

  <%= govuk_link_to "Sign in", "/personas", class: "govuk-button" %>
<% end %>
