<%= render PageTitle::View.new(title: "sign_in.index") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <% if from_old_publish? %>
      <%= render partial: "migration_signin_content" %>
    <% else %>
      <%= render partial: "default_signin_content" %>
    <% end %>
  </div>
</div>
