<%= render PageTitle::View.new(title: "sign_in.index") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render partial: "default_signin_content" %>
  </div>
</div>
