<%= render PageTitle.new(title: "sign_in.index") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      <%= ENV.fetch("PR_NUMBER", "Can't read PR_NUMBER") %>
    </p>

    <%= render partial: "default_signin_content" %>
  </div>
</div>
