<%= render PageTitle::View.new(title: "sign_in.new") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Ask for an account to <%= I18n.t("service_name.publish") %></h1>

    <p class="govuk-body"> Although you have a DfE Sign-in account, you also need an account
                             for this service. Contact <%= support_email %>.</p>

  </div>
</div>
