<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-what-you-will-study">
    <%= t(".heading") %>
  </h2>
  <% if course.theoretical_training_activities.present? || course.assessment_methods.present? %>
    <%= markdown(course.theoretical_training_activities) %>
    <%= markdown(course.assessment_methods) %>
  <% else %>
    <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :what_you_will_study, is_preview: preview?(params)) %>
  <% end %>
</div>
