<div class="govuk-inset-text app-card app-card--inset">
  <p class="govuk-body">
    <%= govuk_link_to t(".links.choose_course"), find_track_click_path(url: t("find.get_into_teaching.url_choose_course")) %>
  </p>
</div>
