<%= govuk_accordion(classes: %w[app-courses-guidance]) do |accordion| %>
  <% accordion.with_section heading_text: t(".heading") do %>
    <p class="govuk-body">
      <%= govuk_link_to t(".links.choose_course"), find_track_click_path(url: t("find.get_into_teaching.url_choose_course")) %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to t(".links.training_adviser"), find_track_click_path(url: t("find.get_into_teaching.url_training_adviser")) %>
    </p>
    <p class="govuk-body accordion--last-child">
      <%= govuk_link_to t(".links.events"), find_track_click_path(url: t("find.get_into_teaching.url_teacher_training_events")) %>
    </p>
  <% end %>
<% end %>
