<div class="app-card app-card--inset govuk-!-padding-3 govuk-!-margin-top-0 govuk-!-margin-bottom-6 govuk-inset-text">
  <p class="govuk-!-font-weight-bold govuk-body-s">
    <%= govuk_link_to t(".links.choose_course"), find_track_click_path(url: t("find.get_into_teaching.url_choose_course")) %>
  </p>
</div>
