<%= render PageTitle::View.new(title: "support.rollover.index") %>

<h1 class="govuk-heading-l"><%= t("components.page_titles.support.rollover.index") %></h1>

<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to(
          "#{current_recruitment_cycle_period_text} - current",
          support_recruitment_cycle_providers_path(Settings.current_recruitment_cycle_year),
          data: { qa: "provider__courses__current_cycle" },
        ) %>
  </li>

    <li>
      <%= govuk_link_to(
            next_recruitment_cycle_period_text.to_s,
            support_recruitment_cycle_providers_path(Settings.current_recruitment_cycle_year + 1),
            data: { qa: "provider__courses__next_cycle" },
          ) %>
    </li>
    </ul>
