<%= render PageTitle.new(title: "support.rollover.index") %>

<h1 class="govuk-heading-l"><%= t("components.page_titles.support.rollover.index") %></h1>

<ul class="govuk-list govuk-list--spaced">
  <% @rollover_period.recruitment_cycles.each do |recruitment_cycle| %>
    <li>
      <%= govuk_link_to(
        "#{recruitment_cycle.year_range}#{' - current' if recruitment_cycle.year.to_i == Find::CycleTimetable.current_year}",
            support_recruitment_cycle_providers_path(recruitment_cycle.year),
      ) %>
    </li>
  <% end %>
</ul>
