<%= render PageTitle::View.new(title: "support.allocations.index") %>

<h1 class="govuk-heading-l">Allocations</h1>

<%= render "support/menu" %>

<%= render PaginatedFilter::View.new(filter_params: @filter_params, collection: @allocations) do %>
  <%= render AllocationRecordCard::View.with_collection(@allocations, recruitment_cycle_year: params[:recruitment_cycle_year]) %>
<% end %>
