<%= render PageTitle::View.new(title: "support.allocations.index") %>

<h1 class="govuk-heading-l">Allocations</h1>

<%= render "support/menu" %>

<%= render PaginatedFilter::View.new(filters: nil, collection: @providers_with_allocations) do %>
  <%= render "list", providers_with_allocations: @providers_with_allocations %>
<% end %>
