<div data-qa="suggested_searches">
  <h3 class="govuk-heading-s" data-qa="suggested_search_heading">Suggested searches</h3>
  <p class="govuk-body" data-qa="suggested_search_description">You can find:</p>
  <ul class="govuk-list govuk-list--bullet">
    <% results.suggested_search_links.each do |link| %>
      <li data-qa="suggested_search_link">
        <%= govuk_link_to link.text, link.url, data: { qa: "link" } %><%= link.suffix %>
      </li>
    <% end %>
  </ul>
</div>
