  <% content_for :before_content do %>
    <%= govuk_back_link_to(publish_provider_recruitment_cycle_schools_path(@provider.provider_code, RecruitmentCycle.current.year)) %>
  <% end %>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">We have removed 12 schools from your account</h1>

    <p class="govuk-body">These are schools that are not on <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments">Get Information About Schools (GIAS)</a>.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        <strong>
          If a school name or address is incorrect
        </strong><br>
        You can <a class="govuk-link" href="#">add the correct school details to your account</a>.
      </p>
      <p class="govuk-body">
        <strong>
          If the school is not on GIAS
        </strong><br>
        If the school you would like to add is not on GIAS, or the information on GIAS is not correct, contact the school and ask them to update their information on GIAS.      </p>
    </div>

        <p class="govuk-body">
          <strong>
            Aylesbury High School
          </strong><br>
            Merton Road, Princes Risborough, HP27 0DR
        </p>
        <p class="govuk-body">
          <strong>
            Bush Hill Park Primary School
          </strong><br>
            Main Avenue, Bush Hill Park, Enfield, EN1 1DS
        </p>
        <p class="govuk-body">
          <strong>
            Childs Hill Primary School
          </strong><br>
            Dersingham Road, Cricklewood, London, NW2 1SL
        </p>
        <p class="govuk-body">
          <strong>
            Eastfield Primary School
          </strong><br>
            Eastfield Road, Enfield, EN3 5UX
        </p>
        <p class="govuk-body">
          <strong>
            Firs Farm Primary School
          </strong><br>
            Rayleigh Road, Palmers Green, London, Middlesex, N13 5QP
        </p>
        <p class="govuk-body">
          <strong>
            Princes Risborough School
          </strong><br>
            Merton Road, Princes Risborough, HP27 0DR
        </p>
        <p class="govuk-body">
          <strong>
            Sir Henry Floyd Grammar School
          </strong><br>
            Oxford Road, Aylesbury, HP21 8PE
        </p>
        <p class="govuk-body">
          <strong>
            St Michael's Catholic School
          </strong><br>
            Weeden Road, Aylesbury , HP19 9PG
        </p>
        <p class="govuk-body">
          <strong>
           The Kingsbrook School
          </strong><br>
            Armstrongs Fields, Broughton, Aylesbury, Buckinghamshire, HP22 7BR
        </p>
        <p class="govuk-body">
          <strong>
            The Mandeville School
          </strong><br>
            Ellen Road, Aylesbury, HP21 8ES
        </p>
        <p class="govuk-body">
          <strong>
            The Misbourne School
          </strong><br>
            Misbourne Drive, Great Missenden, Buckinghamshire, HP16 0BN
        </p>
        <p class="govuk-body">
          <strong>
            Walton High
          </strong><br>
            Fyfield Barrow, Walnut Tree, Milton Keynes, Buckinghamshire, MK7 7WH
        </p>

  </div>
</div>
