<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-about-provider">About the training provider</h2>
  <% if course.provider.train_with_us.present? %>
    <div data-qa="course__about_provider">
      <%= markdown(course.provider.train_with_us) %>
    </div>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :train_with_us) %>
  <% end %>

  <% if course.accrediting_provider.present? %>
    <h3 class="govuk-heading-m">About the accredited provider</h3>

    <% if course.about_accrediting_provider.present? %>
      <div data-qa="course__about_accrediting_provider">
        <%= markdown(course.about_accrediting_provider) %>
      </div>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :about_accrediting_provider) %>
    <% end %>
  <% end %>
</div>
