<h2 class="govuk-heading-l" id="section-about-provider">
  <%= t(".heading", provider_name: course.provider_name) %>
</h2>

<% if course.provider.train_with_us.present? %>
  <div data-qa="course__about_provider">
    <%= markdown(course.provider.train_with_us) %>
  </div>
<% else %>
  <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :train_with_us, is_preview: preview?(params)) %>
<% end %>
