<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-about">Course summary</h2>
  <div data-qa="course__about_course">
    <% if course.about_course.present? %>
      <%= markdown(course.about_course) %>
    <% else %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :about_course) %>
    <% end %>
  </div>
</div>
