<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    This course is not accepting applications at the moment. You can contact the provider for more information.
  </strong>
</div>
