<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-interviews">Interview process</h2>
  <div data-qa="course__interview_process">
    <% if course.published_interview_process %>
      <%= markdown(course.published_interview_process) %>

      <div class="govuk-notification-banner govuk-notification-banner--git govuk-accordion__section--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
          <p class="govuk-heading-m">Preparing for your interview</p>
          <p class="govuk-body"><a class="govuk-link" href="https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/teacher-training-interview">Find out how to prepare for your teacher training interview</a></p>
        </div>
      </div>

    <% else %>
      <%= markdown(course.interview_process) %>
    <% end %>
  </div>
</div>
