<div data-controller="one-login-isolated">
  <%= button_to one_login_path,
                method: :post,
                form: { data: { turbo: false } },
                class: "unstyled-button" do %>
    <div class="save-course-button__button govuk-!-margin-0 govuk-!-padding-top-2">
      <%= image_tag "icon-save.svg",
                    alt: "Sign in to save this course",
                    width: 24,
                    height: 24,
                    class: "govuk-!-margin-right-2 govuk-!-padding-top-0" %>
      <span class="govuk-heading-s govuk-!-margin-0 save-course-button__text">
        Sign in to save this course
      </span>
    </div>
  <% end %>
</div>
