<%= form_with url: find_candidate_saved_courses_path,
              method: :post do %>
  <%= hidden_field_tag :course_id, @course.id %>

  <button type="submit" class="unstyled-button">
    <div class="save-course-button__button govuk-!-margin-0 govuk-!-padding-top-2">
      <%= image_tag "icon-save.svg", alt: t(".save_this_course"), width: 24, height: 24,
                                     class: "govuk-!-margin-right-2 govuk-!-padding-top-0" %>
      <span class="govuk-heading-s govuk-!-margin-0 save-course-button__text">
        <%= t(".save_this_course") %>
      </span>
    </div>
  </button>
<% end %>
