<div id="section-tda-advice">
  <h2 class="govuk-heading-m" id="section-advice"><%= t(".heading") %></h2>
  <div class="govuk-body">
    <%= t(".content") %>
  </div>
  <div class="govuk-body">
    <%= govuk_link_to(t(".link_text"), t("find.get_into_teaching.url_tda")) %>
  </div>
</div>
