<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-train-with-disabilities">Training with disabilities and other needs</h2>
  <div data-qa="course__train_with_disabilities">
    <% if course.provider.train_with_disability.present? %>
      <%= markdown(course.provider.train_with_disability) %>
    <% elsif FeatureService.enabled?(:course_preview_missing_information) %>
      <%= render CoursePreview::MissingInformationComponent.new(course:, information_type: :train_with_disability) %>
    <% end %>
  </div>
</div>
