<%= button_to find_candidate_saved_course_path(saved_course),
              method: :delete,
              class: "unstyled-button" do %>

  <%= hidden_field_tag :unsaved_course_on_show_page, true %>

  <div class="save-course-button__button govuk-!-margin-0 govuk-!-padding-top-2">
    <%= image_tag "icon-saved.svg", alt: t(".course_saved"), width: 24, height: 24,
                                    class: "govuk-!-margin-right-2 govuk-!-padding-top-0" %>
    <span class="govuk-heading-s govuk-!-margin-0 save-course-button__text">
      <%= t(".course_saved") %>
    </span>
  </div>
<% end %>
