<div class="govuk-caption-l"><%= Provider.human_attribute_name(@provider.provider_type) %></div>
<h1 class="govuk-heading-l"><%= @provider.name_and_code %></h1>

<div class="govuk-button-group">
  <%= govuk_button_link_to "Act as Provider", publish_provider_path(@provider.provider_code) %>
</div>

<%= render "support/providers/navigation" %>
