<%= render PageTitle::View.new(title: "support.providers.index") %>

<h1 class="govuk-heading-l">Providers</h1>

<%= render "support/menu" %>

<%= render PaginatedFilter::View.new(filters: @filters, collection: @providers) do %>
  <%= render "list", providers: @providers %>
<% end %>
