<p class="govuk-body">
  A study site, such as a university campus, is where trainees do theoretical training.
  Add study sites for your organisation and then attach one or more to a course from the ‘Basic details’ tab on the
  course page.
</p>

<p class="govuk-body">
  Candidates will see a list of the attached study sites on course pages when they search for courses.
</p>
