<h2 class="govuk-heading-m">
  <%= govuk_link_to "About your organisation", details_publish_provider_recruitment_cycle_path(provider.provider_code, year), data: { qa: "about-your-organisation" } %>
</h2>
<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
  <li>write about your organisation</li>
  <li>set your contact details</li>
  <li>publish this information on all course pages</li>
</ul>
