<h2 class="govuk-heading-m">
  <%= govuk_link_to "Courses", publish_provider_recruitment_cycle_courses_path(provider.provider_code, year), data: { qa: "courses" } %>
</h2>

<%= render partial: "publish/courses/course_abilities_blurb", locals: { classes: "govuk-!-margin-bottom-8" }  %>
