<h2 class="govuk-heading-m">
  <%= govuk_link_to "Locations", publish_provider_recruitment_cycle_locations_path(provider.provider_code, year) %>
</h2>

<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
  <li>edit location names and addresses</li>
  <li>add locations</li>
</ul>
