<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to(
    "#{current_recruitment_cycle_period_text} - current",
    publish_provider_recruitment_cycle_path(@provider.provider_code, Settings.current_recruitment_cycle_year),
    data: { qa: "provider__courses__current_cycle" },
  ) %>
  </li>

  <% RecruitmentCycle.next_editable_cycles.each do |recruitment_cycle| %>
    <li>
        <%= govuk_link_to(
        recruitment_cycle.year_range,
        publish_provider_recruitment_cycle_path(@provider.provider_code, recruitment_cycle.year),
      ) %>
    </li>
  <% end %>
</ul>
