<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to(
    "#{current_recruitment_cycle_period_text} - current",
    publish_provider_recruitment_cycle_path(@provider.provider_code, Settings.current_recruitment_cycle_year),
    data: { qa: "provider__courses__current_cycle" },
  ) %>
  </li>

  <% if @provider.from_next_recruitment_cycle %>
    <li>
        <%= govuk_link_to(
        next_recruitment_cycle_period_text.to_s,
        publish_provider_recruitment_cycle_path(@provider.provider_code, Settings.current_recruitment_cycle_year + 1),
        data: { qa: "provider__courses__next_cycle" },
      ) %>
    </li>
</ul>
<% end %>
