<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to(
    "#{current_recruitment_cycle_period_text} - current",
    publish_provider_recruitment_cycle_path(@provider.provider_code, Settings.current_recruitment_cycle_year),
    data: { qa: "provider__courses__current_cycle" },
  ) %>
  </li>

  <% @rollover_period.next_recruitment_cycles.each do |next_recruitment_cycle| %>
    <% if next_recruitment_cycle.providers.exists?(provider_code: @provider.provider_code) %>
      <li>
          <%= govuk_link_to(
          next_recruitment_cycle.year_range,
          publish_provider_recruitment_cycle_path(@provider.provider_code, next_recruitment_cycle.year),
        ) %>
      </li>
    <% end %>
  <% end %>
</ul>
