<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to(
    "#{current_recruitment_cycle_period_text} - current",
    publish_provider_recruitment_cycle_path(@provider.provider_code, Settings.current_recruitment_cycle_year),
    data: { qa: "provider__courses__current_cycle" },
  ) %>
  </li>

  <% if @provider.from_next_recruitment_cycle %>
    <li>
        <%= govuk_link_to(
        "#{next_recruitment_cycle_period_text}",
        publish_provider_recruitment_cycle_path(@provider.provider_code, Settings.current_recruitment_cycle_year + 1),
        data: { qa: "provider__courses__next_cycle" },
      ) %>
    </li>
</ul>
<% else %>
  <h2 class="govuk-heading-m">
    <%= "Next cycle (#{next_recruitment_cycle_period_text})" %>
  </h2>

  <p class="govuk-body">
    You did not publish any courses in the last cycle. Only providers with published
    or withdrawn courses are rolled over.
  </p>

  <p class="govuk-body">
    If you think this is a mistake contact us on <br>
    <%= bat_contact_mail_to(subject: "Rollover support and guidance") %>
  </p>
<% end %>
