<tr class="govuk-table__row school-row">
  <td class="govuk-table__header name"">
    <%= govuk_link_to school.location_name,
        publish_provider_recruitment_cycle_school_path(
          @provider.provider_code,
          school.recruitment_cycle.year,
          school.id
        )
      %>
    <div class="govuk-hint school-landing-address">
      <%= school.address_without_name %>
    </div>
  </td>
  <!--
  <td class="govuk-table__cell govuk-hint">
    <%= school.address_without_name %>
  </td>
  -->
  <td class="govuk-table__cell">
    <a class="govuk-link app-link--destructive" href="#">
      Remove school
      <span class="govuk-visually-hidden">
        <%= school.location_name %>
      </span>
    </a>
  </td>
</tr>
