<tr class="govuk-table__row school-row">
  <th class="govuk-table__header name" scope="row">
    <%= govuk_link_to school.location_name, publish_provider_recruitment_cycle_school_path(@provider.provider_code, school.recruitment_cycle.year, school.id) %>
  </th>
  <td class="govuk-table__cell code">
    <%= school.code %> <%= school.code == "-" ? "(dash)" : "" %>
  </td>
  <% if urn_required?(@recruitment_cycle.year.to_i) %>
    <td class="govuk-table__cell urn">
      <%= value_provided?(school.urn) %>
    </td>
  <% end %>
</tr>
