<%= render PageTitle::View.new(title: "Organisations") %>

<h1 class="govuk-heading-l">Organisations</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if current_user.present? && current_user["admin"] %>
      <%= render partial: "publish/providers/search" %>
    <% end %>

    <ul class="govuk-list">
      <%= render partial: "publish/providers/provider", collection: @providers %>
    </ul>

    <%= pagy_govuk_nav(@pagy).html_safe %>
  </div>
</div>
