<% content_for :page_title, t("page_titles.rollover.show") %>

<% if current_user.has_multiple_providers? %>
  <%= content_for :before_content, render_breadcrumbs(:provider) %>
<% end %>

<h1 class="govuk-heading-l"><%= t("page_titles.rollover.show") %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @provider.rolled_over? %>
      <%= render partial: "publish/recruitment_cycles/show_during_rollover" %>
    <% else %>
     <%= render partial: "publish/recruitment_cycles/provider_info", locals: { provider: @provider, year: Settings.current_recruitment_cycle_year, recruitment_cycle: @recruitment_cycle } %>
    <% end %>
  </div>
</div>
