<p class="govuk-body">Use this section to:</p>

<ul class="govuk-list govuk-list--bullet <%= classes %>">
  <li>add and remove courses</li>
  <li>edit, preview and publish courses</li>
  <li>assign locations to a course</li>
  <li>copy content between courses</li>
</ul>
