<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_information_heading") %>
</h2>

<%= govuk_summary_list do |summary_list| %>

  <% enrichment_summary(
       summary_list,
       :course,
       t("publish.providers.courses.description_content.how_school_placements_work_label"),
       value_provided?(""),
       %w[how_school_placements_work],
       action_path: course.is_withdrawn? ? nil : school_placements_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
       action_visually_hidden_text: t("publish.providers.courses.description_content.how_school_placements_work_hidden_text"),
     ) %>

  <% enrichment_summary(
    summary_list,
    :course,
    t("publish.providers.courses.description_content.interview_process_label"),
    value_provided?(""),
    %w[interview_process],
    action_path: course.is_withdrawn? ? nil : interview_process_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
    action_visually_hidden_text: t("publish.providers.courses.description_content.interview_process_hidden_text"),
  ) %>
  <% if course.has_fees? %>

    <% enrichment_summary(
      summary_list,
      :course,
      t("publish.providers.courses.description_content.fee_details_label"),
      value_provided?(""),
      %w[fee_details],
      action_path: course.is_withdrawn? ? nil : fees_and_financial_support_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
      action_visually_hidden_text: t("publish.providers.courses.description_content.fee_details_hidden_text"),
    ) %>

  <% else %>
    <% enrichment_summary(
      summary_list,
      :course,
      t("publish.providers.courses.description_content.salary_label"),
      value_provided?(markdown(course.salary_details)),
      %w[salary_details],
      action_path: course.is_withdrawn? ? nil : salary_publish_provider_recruitment_cycle_course_path(@provider.provider_code, course.recruitment_cycle_year, course.course_code),
    ) %>
  <% end %>
<% end %>
