<p class="govuk-body">Say how you support candidates with disabilities and other needs. This could include candidates with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>dyslexia</li>
        <li>physical, hearing and visual impairments</li>
        <li>mental health conditions</li>
      </ul>
      <p class="govuk-body">If accessibility varies between schools, give details. It’s also useful for candidates to know how you’ve accommodated others with specific access needs in the past.</p>
