<div class="app-status-box">
  <h3 class="govuk-heading-m">Formatting</h3>
  <h4 class="govuk-heading-s">Links</h4>
  <p class="govuk-body">Use square brackets [] around the link text and round brackets () around the link URL. Make sure there are no spaces between the brackets.</p>

  <p class="govuk-body">For example:<br>[GOV.UK](https://gov.uk/)</p>

  <h4 class="govuk-heading-s">Lists</h4>
  <p class="govuk-body">To create a bulleted list:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>use asterisks (*) to create a bullet point (hyphens also work)</li>
    <li>make sure there is one space after the asterisk</li>
    <li>leave 1 empty line space before the bullets start, and one after</li>
  </ul>

  <p class="govuk-body">For example:</p>
  <p class="govuk-body">* list item 1<br>* list item 2</p>
</div>
