<!--<div class="app-status-box">-->

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to create links and bullet points
      </span>
    </summary>
    <div class="govuk-details__text">
    <h4 class="govuk-heading-s">How to create a link</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Use square brackets [] around the text you want to be a link.
        </li>
        <li>Use round brackets () around the URL for the link.
        </li>
        <li>Make sure there are no spaces between the brackets.
        </li>
      </ul>
      <p class="govuk-body">For example:</p>
      <p class="govuk-body">[GOV.UK](https://gov.uk)</p>
      <p class="govuk-body">Will show as:</p>
      <p class="govuk-body"><a class="govuk-link" href="https://gov.uk">GOV.UK</a></p>
    <h4 class="govuk-heading-s">How to create bullet points</h4>
    <ul class="govuk-list govuk-list--bullet">
        <li>Use asterisks (*) to create bullet points
        </li>
        <li>Make sure there is a space after each asterisk
        </li>
      </ul>
      <p class="govuk-body">For example:</p>
      <ul class="govuk-list">
        <li>* list item 1
        </li>
      </ul>
      <p class="govuk-body">Will show as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>list item 1
        </li>
      </ul>
      <p class="govuk-body">
  </div>
</details>
