<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_length_and_fees_heading") %>
</h2>

<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_requirements_heading") %>
</h2>

<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_about_heading") %>
</h2>

<h2 class="govuk-heading-m">
  <%= t("publish.providers.courses.description_content.course_interview_process_heading") %>
</h2>
