<% content_for :page_title, @provider.provider_name %>
<%= content_for :before_content, render_breadcrumbs(:training_provider_courses) %>

<h1 class="govuk-heading-l">
  <% if FeatureService.enabled?(:new_publish_navigation) %>
    <span class="govuk-caption-l">Training partner</span>
  <% else %>
    <span class="govuk-caption-l">Training provider</span>
  <% end %>
  <%= @training_provider.provider_name %>
</h1>

<section data-qa="courses__table-section">
  <%= render partial: "publish/courses/course_table", locals: { courses: @courses } %>
</section>
