<% content_for :page_title, @provider.provider_name %>

<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_training_providers_path(@provider.provider_code, @provider.recruitment_cycle_year)) %>
<% end %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Training provider</span>
  <%= @training_provider.provider_name %>
</h1>

<section data-qa="courses__table-section">
  <%= render partial: "publish/courses/course_table", locals: { courses: @courses } %>
</section>
