<% legend = capture do %>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      <% if course.course_code %>
        <%= render CaptionText.new(text: course.name_and_code) %>
      <% else %>
        <%= render CaptionText.new(text: t("course.add_course")) %>
      <% end %>
      Qualification
    </h1>
  </legend>
<% end %>

<%= render "publish/shared/edit_options_radio_buttons",
           form:,
           legend:,
           key: "qualifications",
           field: :qualification%>
