---
openapi: 3.0.0
info:
  version: 1.0.0
  title: Teacher Training Courses API
  contact:
    name: DfE
    email: becomingateacher@digital.education.gov.uk
  description: API for DfE's postgraduate teacher training course service.
servers:
- url: https://api2.publish-teacher-training-courses.service.gov.uk/api/public/{version}
  description: Production
  variables:
    version:
      enum:
      - v1
      default: v1
components:
  schemas:
    CourseAttributes:
      type: object
      required:
      - code
      - provider_code
      - age_maximum
      - age_minimum
      properties:
        about_accredited_body:
          type: string
          format: markdown
          description: Description of the accredited body for this course.
          example: UCL Institute of Education is the world’s leading centre for research
            and teaching in education and related social sciences.
        about_course:
          type: string
          format: markdown
          description: Short factual summary of the course.
          example: 'The Secondary PGCE consists of three core modules: two Master''s-level
            modules, which are assessed through written assignments, and the Professional
            Practice module, which is assessed by the observation of practical teaching
            in placement schools.'
        accredited_body_code:
          type: string
          description: Unique provider-code for the accredited body of this course.
            Only present if the provider delivering the course is not the accredited
            body.
          maxLength: 3
          minLength: 3
          nullable: true
          example: 2FR
        age_minimum:
          type: integer
          description: The minimum age of pupils this course is specified for.
          example: 11
        age_maximum:
          type: integer
          description: The maximum age of pupils this course is specified for.
          example: 14
        applications_open_from:
          type: string
          format: date
          description: Date from which applications can be submitted.
          example: '2019-10-08'
        bursary_amount:
          type: integer
          description: Bursary amount in GBP for this course.
          example: 9000
        bursary_requirements:
          type: string
          description: Description of requirements to be eligible for a bursary.
          example: a degree of 2:2 or above in any subject
        changed_at:
          type: string
          format: date-time
          description: Date-time timestamp of when this course or any of its related
            data changed.
          example: '2019-06-13T10:44:31Z'
        code:
          type: string
          description: Code that uniquely identifies this course within its training
            provider's list of courses.
          maxLength: 4
          minLength: 4
          example: 3GTY
        course_length:
          type: string
          description: Text describing how long the course runs.
          example: OneYear
        created_at:
          type: string
          format: date-time
          description: Timestamp of when this course was created.
          example: '2019-06-13T10:44:31Z'
        fee_details:
          type: string
          format: markdown
          description: Further details about the fees for this course, if applicable.
          example: For those wishing to top up their qualification to the full PGCE,
            a further £1800 will be payable.
        fee_international:
          type: integer
          description: Fee in GBP for international students (optional).
          example: 13000
        fee_domestic:
          type: integer
          description: Fee in GBP for UK and EU students.
          example: 9200
        financial_support:
          type: string
          format: markdown
          description: Details about financial support offered, if any.
          example: You'll get a bursary of £9,000 if you have a degree of 2:2 or above
            in any subject. You may also be eligible for a loan while you study.
        findable:
          type: boolean
          description: Is this course currently visible on the Find Postgraduate Teacher
            Training service.
          example: true
        funding_type:
          type: string
          description: The type of funding that may be provided to candidates, if
            any.
          example: apprenticeship
          enum:
          - salary
          - apprenticeship
          - fee
        gcse_subjects_required:
          type: string
          example:
          - maths
          - english
          enum:
          - []
          - - maths
            - english
          - - maths
            - english
            - science
          description: GSCEs, or equivalent, required for this level of course.
        has_bursary:
          type: boolean
          description: Are any bursaries available for this course?
          example: true
        has_early_career_payments:
          type: boolean
          description: Are early career payments available for this course?
          example: true
        has_scholarship:
          type: boolean
          description: Are scholarships available for this course?
          example: true
        has_vacancies:
          type: boolean
          description: Do any of the locations for this course have vacancies?
          example: true
        how_school_placements_work:
          type: string
          format: markdown
          description: Additional information about the schools applicants will be
            teaching in.
          example: You will spend two-thirds of your time (120 days) in schools, working
            with art and design mentors who support you through your two school placements.
        interview_process:
          type: string
          format: markdown
          description: Additional information about how the interview process will
            work for applicants.
          example: At your interview day you will take part in a combination of group
            and individual interviews with members of the programme team, and you
            may also be asked to undertake written or presentation tasks, depending
            on your subject.
        is_send:
          type: boolean
          description: Does this course have a SEND specialism?
          example: true
        last_published_at:
          type: string
          format: date-time
          description: Timestamp of when changes to this course's additional information
            sections were last published.
          example: '2019-06-13T10:44:31Z'
        level:
          type: string
          description: The educational level this course is designed for.
          example: secondary
          enum:
          - further_education
          - primary
          - secondary
        name:
          type: string
          description: Name of the course.
          example: Art and Design
        open_for_applications:
          type: boolean
          description: Is the course currently open for applications?
          example: true
        other_requirements:
          type: string
          format: markdown
          description: Any non-academic qualifications or documents the applicant
            may need.
          example: You'll need to provide confirmation you have the health and physical
            capacity to commence training, and a Disclosure and Barring Service (DBS)
            certificate.
        personal_qualities:
          type: string
          format: markdown
          description: Any skills, motivation and experience the provider is looking
            for in applicants.
          example: We are looking for applicants who have the potential to become
            outstanding teachers, and who are able to work independently on their
            studies while training in a school context.
        program_type:
          type: string
          description: The teacher training route that this course follows.
          example: scitt_programme
          enum:
          - higher_education_programme
          - scitt_programme
          - school_direct_training_programme
          - school_direct_salaried_training_programme
          - pg_teaching_apprenticeship
        provider_code:
          type: string
          description: Unique code for the provider of this course.
          maxLength: 3
          minLength: 3
          example: 6CL
        qualifications:
          type: string
          description: The qualifications as an outcome of the course.
          example:
          - qts
          enum:
          - - qts
          - - pgce
          - - pgde
          - - qts
            - pgce
          - - qts
            - pgde
        recruitment_cycle_year:
          type: string
          description: The recruitment cycle that this course is available in.
          example: 2020
        required_qualifications:
          type: string
          format: markdown
          description: The minimum academic qualifications needed for this course.
          example: A first or second-class UK Bachelor's degree in an appropriate
            subject, or an overseas qualification of an equivalent standard from a
            recognised higher education institution.
        required_qualifications_english:
          type: string
          description: English GCSE requirements for applicants.
          example: equivalence_test
          enum:
          - ''
          - must_have_qualification_at_application_time
          - expect_to_achieve_before_training_begins
          - equivalence_test
          - not_required
        required_qualifications_maths:
          type: string
          description: Maths GCSE requirements for applicants.
          example: equivalence_test
          enum:
          - ''
          - must_have_qualification_at_application_time
          - expect_to_achieve_before_training_begins
          - equivalence_test
          - not_required
        required_qualifications_science:
          type: string
          description: Science GCSE requirements for applicants.
          example: equivalence_test
          enum:
          - ''
          - must_have_qualification_at_application_time
          - expect_to_achieve_before_training_begins
          - equivalence_test
          - not_required
        running:
          type: boolean
          description: Is the course currently running.
          example: true
        salary_details:
          type: string
          description: Salary details about this course.
          example: Successful applicants will be employed as unqualified teachers
            on at least Point 1 of the Unqualified Teachers' Pay Scale for the duration
            of the programme.
        scholarship_amount:
          type: integer
          description: The scholarship amount a candidate may be eligible for for
            this course.
          example: 17000
        start_date:
          type: string
          format: date
          description: Date that the course starts.
          example: '2020-09-01'
        state:
          type: string
          description: The state of the course in the Publish teacher training courses
            system.
          example: published
          enum:
          - empty
          - rolled_over
          - draft
          - published
          - published_with_unpublished_changes
          - withdrawn
        study_mode:
          type: string
          description: Whether the course is full-time, part-time or both.
          example: both
          enum:
          - both
          - full_time
          - part_time
        summary:
          type: string
          description: Generated summary of the course.
          example: PGCE with QTS full time
    CourseRelationships:
      type: object
      properties:
        accredited_body:
          "$ref": "#/components/schemas/Relationship"
        locations:
          "$ref": "#/components/schemas/RelationshipList"
        modern_languages:
          "$ref": "#/components/schemas/RelationshipList"
        provider_locations:
          "$ref": "#/components/schemas/RelationshipList"
        provider:
          "$ref": "#/components/schemas/Relationship"
        subjects:
          "$ref": "#/components/schemas/RelationshipList"
    CourseResource:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: integer
        type:
          type: string
          example: courses
        attributes:
          "$ref": "#/components/schemas/CourseAttributes"
        relationships:
          "$ref": "#/components/schemas/CourseRelationships"
    CourseSingleResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/CourseResource"
        included:
          "$ref": "#/components/schemas/Included"
        jsonapi:
          "$ref": "#/components/schemas/JSONAPI"
    Filter:
      type: object
      example: ''
      properties:
        has_vacancies:
          description: Return courses that only have vacancies?
          type: string
          example: 'true'
        funding:
          description: Return courses that are salary funded.
          type: string
          example: salary
        qualification:
          description: Search courses based on the award given on course completion.
          type: array
          example: qts,pgce,pgde
          items:
            type: string
            example: qts
        study_type:
          description: Search full time or part time courses or both.
          type: array
          example: full_time,part_time
          items:
            type: string
            example: full_time
        subjects:
          description: Returns courses that include at least one of the given subjects.
          type: array
          example: 00,01,W1
          items:
            type: string
            example: W1
        send_courses:
          description: Only return courses that have a SEND specialism.
          type: string
          example: 'true'
        latitude:
          description: Latitude of origin when performing a search by radius.
          type: number
          example: 54.9753348
        longitude:
          description: Longitude of origin when performing a search by radius.
          type: number
          example: -1.6100477
        radius:
          description: Search radius in miles from given latitude and longitude.
          type: number
          example: 20
    Included:
      type: array
      items:
        "$ref": "#/components/schemas/Resource"
    JSONAPI:
      type: object
      required:
      - version
      properties:
        version:
          type: string
          example: '1.0'
    LocationAttributes:
      type: object
      properties:
        code:
          type: string
          example: W
        name:
          type: string
          description: The name of the location.
          example: Henry Maynard Primary School
        street_address_1:
          type: string
          description: Building or street line one.
          example: The Rose Building
        street_address_2:
          type: string
          description: Building or street line two.
          example: Maynard Road
        city:
          type: string
          description: Town or city.
          example: London
        county:
          type: string
          description: County.
          example: London
        postcode:
          type: string
          description: The postcode of the location.
          example: E17 9JE
        region_code:
          type: string
          example: london
        recruitment_cycle_year:
          type: string
          example: '2020'
    LocationResource:
      type: object
      properties:
        id:
          type: string
          example: '11214485'
        type:
          type: string
          example: sites
        attributes:
          "$ref": "#/components/schemas/LocationAttributes"
    LocationStatusAttributes:
      type: object
      description: Fields relating to the state of a location.
      properties:
        status:
          type: string
          enum:
          - discontinued
          - running
          - new_status
          - suspended
          example: running
        publish:
          type: string
          enum:
          - published
          - unpublished
          example: published
        has_vacancies:
          type: boolean
          description: Are there any vacancies for this course.
          example: true
        vacancy_status:
          type: string
          description: What type of vacancies are available.
          enum:
          - full_time_vacancies
          - part_time_vacancies
          - both_full_time_and_part_time_vacancies
          example: full_time_vacancies
        relationships:
          "$ref": "#/components/schemas/LocationStatusRelationships"
    LocationStatusRelationships:
      type: object
      description: Associated data
      properties:
        site:
          type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  example: '11214483'
                type:
                  type: string
                  example: sites
    LocationStatusResource:
      type: object
      description: Wrapper object for LocationStatusAttributes.
      properties:
        id:
          type: string
          example: '22329867'
        type:
          type: string
          example: site_statuses
        attributes:
          "$ref": "#/components/schemas/LocationStatusAttributes"
    LocationsList:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/LocationResource"
        jsonapi:
          "$ref": "#/components/schemas/JSONAPI"
    ProviderAttributes:
      type: object
      required:
      - code
      - name
      properties:
        accredited_body?:
          type: boolean
          description: Is this provider an accredited body for other provider's courses.
          example: 'true'
        city:
          type: string
          description: Town or city.
          example: London
        county:
          type: string
          description: County.
          example: London
        changed_at:
          type: string
          format: date-time
          description: Date-time timestamp of when this provider or any of its related
            data changed.
          example: '2019-06-13T10:44:31Z'
        code:
          type: string
          description: Code that uniquely identifies this provider within a recruitment
            cycle.
          maxLength: 3
          minLength: 3
          example: X99
        created_at:
          type: string
          format: date-time
          description: Timestamp of when this provider was created.
          example: '2019-06-13T10:44:31Z'
        postcode:
          type: string
          format: uk-postcode
          description: The provider's postcode.
          maxLength: 8
          example: SK2 6AA
        name:
          type: string
          description: The name of the training provider.
          example: Long School
        provider_type:
          type: string
          description: The type of provider.
          example: scitt
          enum:
          - scitt
          - lead_school
          - university
          - unknown
          - invalid_value
        recruitment_cycle_year:
          type: integer
          description: The recruitment year this provider record is for.
          example: 2020
        region_code:
          type: string
          description: The NUTS 1 region code for the provider's address.
          example: south_west
          enum:
          - no_region
          - london
          - south_east
          - south_west
          - wales
          - west_midlands
          - east_midlands
          - eastern
          - north_west
          - yorkshire_and_the_humber
          - north_east
          - scotland
        street_address_1:
          type: string
          description: Building or street line one.
          example: Long College
        street_address_2:
          type: string
          description: Building or street line two.
          example: 1st floor, 86 Long Rd
        train_with_disability:
          type: string
          format: markdown
          description: How candidates with disabilities and other needs will be supported.
          example: We are committed to supporting trainees with disabilities and other
            needs, so please let us and the accrediting provider know if you would
            like us to make any adjustments to support you.
        train_with_us:
          type: string
          format: markdown
          description: Information about the training provider.
          example: We offer both primary and secondary training in a wide range of
            subjects and work with a collection of schools in the local area. We offer
            diverse teaching placements, ensuring trainees have experience in different
            types of school environments.
        website:
          type: string
          format: url
          description: A link to the initial teacher training or course pages of your
            website.
          example: http://www.teamworkstsa.org/home-page-s-c-i-t-t-teacher-training/
    ProviderListResponse:
      type: object
      required:
      - data
      - jsonapi
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ProviderResource"
        included:
          "$ref": "#/components/schemas/Included"
        jsonapi:
          "$ref": "#/components/schemas/JSONAPI"
    ProviderRelationships:
      type: object
      properties:
        locations:
          "$ref": "#/components/schemas/RelationshipList"
        recruitment_cycle:
          "$ref": "#/components/schemas/Relationship"
    ProviderResource:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: integer
          example: 1
        type:
          type: string
          example: providers
        attributes:
          "$ref": "#/components/schemas/ProviderAttributes"
        relationships:
          "$ref": "#/components/schemas/ProviderRelationships"
    ProviderSingleResponse:
      type: object
      required:
      - data
      - jsonapi
      properties:
        data:
          "$ref": "#/components/schemas/ProviderResource"
        included:
          "$ref": "#/components/schemas/Included"
        jsonapi:
          "$ref": "#/components/schemas/JSONAPI"
    RecruitmentCycleAttributes:
      type: object
      required:
      - code
      properties:
        year:
          type: integer
          description: The year that this recruitment cycle applies to.
        application_start_date:
          type: string
          format: date
          description: The default date applications start being taken for this recruitment
            cycle.
        application_end_date:
          type: string
          format: date
          description: The default date applications stop being taken for this recruitment
            cycle.
    RecruitmentCycleResource:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: integer
        type:
          type: string
        attributes:
          "$ref": "#/components/schemas/RecruitmentCycleAttributes"
    Relationship:
      type: object
      properties:
        data:
          "$ref": "#/components/schemas/ResourceIdentifier"
        meta:
          type: object
    RelationshipList:
      type: object
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ResourceIdentifier"
    Resource:
      anyOf:
      - "$ref": "#/components/schemas/CourseResource"
      - "$ref": "#/components/schemas/RecruitmentCycleResource"
      - "$ref": "#/components/schemas/SubjectResource"
      - "$ref": "#/components/schemas/LocationResource"
      - "$ref": "#/components/schemas/LocationStatusResource"
      discriminator:
        propertyName: type
    ResourceIdentifier:
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
        id:
          type: string
    Sort:
      type: array
      example: provider.provider_name,name
      items:
        type: string
        example: name
    SubjectAttributes:
      type: object
      required:
      - code
      properties:
        name:
          type: string
          description: Subject name.
        code:
          type: string
          description: Unique subject code.
    SubjectResource:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: integer
        type:
          type: string
          example: subjects
        attributes:
          "$ref": "#/components/schemas/SubjectAttributes"
paths:
  "/courses":
    get:
      summary: Returns courses for the current recruitment cycle
      operationId: public_api_v1_courses
      tags:
      - course
      parameters:
      - name: filter
        in: query
        schema:
          "$ref": "#/components/schemas/Filter"
        style: deepObject
        explode: true
        description: Refine courses to return.
        required: false
      - name: sort
        in: query
        schema:
          "$ref": "#/components/schemas/Sort"
        style: form
        explode: false
        example: provider.provider_name,name
        description: Field(s) to sort the courses by.
        required: false
      responses:
        '200':
          description: The list of courses in the current recruitment cycle.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CourseSingleResponse"
  "/courses/{course_code}/locations":
    get:
      summary: Returns locations for the given course
      operationId: public_api_v1_course_locations
      tags:
      - location
      parameters:
      - name: course_code
        in: path
        description: The code of the course.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of locations for the given course.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LocationsList"
