---
openapi: 3.0.0
info:
  version: 1.0.0
  title: Teacher Training Courses API
  contact:
    name: DfE
    email: becomingateacher@digital.education.gov.uk
  description: "API for DfE's postgraduate teacher training course service."
servers:
  - url: https://api.publish-teacher-training-courses.service.gov.uk/api/public/{version}
    description: "Production url."
    variables:
      version:
        enum:
          - v1
        default: v1
components:
  schemas:
    Sort:
      type: array
      example: "provider.provider_name,name"
      description: "This schema is used to sort a collection."
      items:
        type: string
        example: "name"
        description: "A comma delimited string of fields to sort the collection by."
    CourseResource:
      description: "This schema provides metadata about a course."
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
        type:
          type: string
          example: "courses"
        attributes:
          $ref: "#/components/schemas/CourseAttributes"
        relationships:
          $ref: "#/components/schemas/CourseRelationships"
    CourseListResponse:
      description: "This schema is used to return a collection of courses."
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CourseResource"
        included:
          description: "This returns the requested associated data."
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/RecruitmentCycleResource"
              - $ref: "#/components/schemas/ProviderResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    CourseSingleResponse:
      description: "This schema is used to return a single course."
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          $ref: "#/components/schemas/CourseResource"
        included:
          description: "This returns the requested associated data."
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/RecruitmentCycleResource"
              - $ref: "#/components/schemas/ProviderResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    Included:
      description: "This schema is used to return requested associated objects if there are any."
      type: array
      items:
        $ref: "#/components/schemas/Resource"
    JSONAPI:
      description: "This returns the version of JSON API in use."
      type: object
      required:
        - version
      properties:
        version:
          type: string
          example: "1.0"
    LocationAttributes:
      description: "This schema is used to describe a location."
      type: object
      properties:
        code:
          type: string
          example: "-"
        name:
          type: string
          description: "The name of the location."
          example: "Main Site"
        street_address_1:
          type: string
          description: "Building or street address line one."
          example: "Barnsley Road"
        street_address_2:
          type: string
          description: "Building or street address line two."
          example: "Wath-upon-Dearne"
        city:
          type: string
          description: "Town or city."
          example: "Rotherham"
        county:
          type: string
          description: "County."
          example: "South Yorkshire"
        postcode:
          type: string
          description: "The postcode of the location."
          example: "S63 6PY"
        region_code:
          type: string
          example: "yorkshire_and_the_humber"
        latitude:
          type: number
          description: "The latitude of the location."
          example: 53.5082828
        longitude:
          type: number
          description: "The longitude of the location."
          example: -1.3603394
    LocationResource:
      description: "This schema provides metadata about a location."
      type: object
      properties:
        id:
          type: string
          example: "11214485"
        type:
          type: string
          example: "locations"
        attributes:
          $ref: "#/components/schemas/LocationAttributes"
        relationships:
          $ref: "#/components/schemas/LocationRelationships"
    ProviderLocationListResponse:
      description: "This schema is used to return a collection of locations for a specified provider."
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LocationResource"
        included:
          description: "This returns the requested associated data."
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/RecruitmentCycleResource"
              - $ref: "#/components/schemas/ProviderResource"
              - $ref: "#/components/schemas/LocationStatusResource"
              - $ref: "#/components/schemas/CourseResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    CourseLocationListResponse:
      description: "This schema is used to return a collection of locations for a specified course."
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LocationResource"
        included:
          description: "This returns the requested associated data."
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/RecruitmentCycleResource"
              - $ref: "#/components/schemas/ProviderResource"
              - $ref: "#/components/schemas/LocationStatusResource"
              - $ref: "#/components/schemas/CourseResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    LocationStatusResource:
      description: "This schema provides metadata about a location status."
      type: object
      properties:
        id:
          type: string
          example: "22329867"
        type:
          type: string
          example: site_statuses
        attributes:
          $ref: "#/components/schemas/LocationStatusAttributes"
    ProviderResource:
      description: "This schema provides metadata about a provider."
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          example: 1
        type:
          type: string
          example: "providers"
        attributes:
          $ref: "#/components/schemas/ProviderAttributes"
        relationships:
          $ref: "#/components/schemas/ProviderRelationships"
    ProviderListResponse:
      description: "This schema is used to return a collection of providers."
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProviderResource"
        included:
          type: array
          items:
            $ref: "#/components/schemas/RecruitmentCycleResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    NotFoundResponse:
      description: "This schema is used to return a not found response."
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          nullable: true
          example: null
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    ProviderSingleResponse:
      description: "This schema is used to return a single provider."
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          $ref: "#/components/schemas/ProviderResource"
        included:
          type: array
          items:
            $ref: "#/components/schemas/RecruitmentCycleResource"          
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    ProviderSuggestion:
      description: "This schema provides metadata about a provider."
      type: object
      properties:
        name:
          type: string
          example: "Oxford Brookes University"
        code:
          type: string
          example: "O66"
    ProviderSuggestionListResponse:
      description: "This schema is used to return a collection of provider suggestions."
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProviderSuggestion"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    Relationship:
      description: "This schema describes a single associated object."
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ResourceIdentifier"
        meta:
          type: object
    RelationshipList:
      description: "This schema describes a collection of associated objects."
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ResourceIdentifier"
    Resource:
      anyOf:
        - $ref: "#/components/schemas/CourseResource"
        - $ref: "#/components/schemas/LocationResource"
        - $ref: "#/components/schemas/LocationStatusResource"
        - $ref: "#/components/schemas/ProviderResource"
        - $ref: "#/components/schemas/RecruitmentCycleResource"
        - $ref: "#/components/schemas/SubjectResource"
      discriminator:
        propertyName: type
    ResourceIdentifier:
      description: "As included associated data can be polymorphic, this schema is used to describe what type of resource is being presented."
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
        id:
          type: string
    RecruitmentCycleResource:
      description: "This schema provides metadata about a recruitment cycle."
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          example: "3"
        type:
          type: string
          example: "recruitment_cycles"
        attributes:
          $ref: "#/components/schemas/RecruitmentCycleAttributes"
    SubjectResource:
      description: "This schema provides metadata about a subject."
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          example: "3"
        type:
          type: string
          example: subjects
        attributes:
          $ref: "#/components/schemas/SubjectAttributes"
    SubjectAreaResource:
      description: "This schema provides metadata about a subject area."
      type: object
      properties:
        id:
          type: string
          example: "PrimarySubject"
        type:
          type: string
          example: "subject_areas"
        attributes:
          $ref: "#/components/schemas/SubjectAreaAttributes"
        relationships:
          $ref: "#/components/schemas/SubjectAreaRelationships"
    SubjectAreaListResponse:
      description: "This schema is used to return a collection of subject areas."
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SubjectAreaResource"
        included:
          type: array
          items:
            $ref: "#/components/schemas/SubjectResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
