---
openapi: 3.0.0
info:
  version: 1.0.0
  title: Teacher Training Courses API
  contact:
    name: DfE
    email: becomingateacher@digital.education.gov.uk
  description: "API for DfE's postgraduate teacher training course service."
servers:
  - url: https://api2.publish-teacher-training-courses.service.gov.uk/api/public/{version}
    description: "Production url."
    variables:
      version:
        enum:
          - v1
        default: v1
components:
  schemas:
    Sort:
      type: array
      example: "provider.provider_name,name"
      items:
        type: string
        example: "name"
    Filter:
      type: object
      example: ""
      properties:
        has_vacancies:
          description: "Return courses that only have vacancies?"
          type: string
          example: "true"
        funding:
          description: "Return courses that are salary funded."
          type: string
          example: "salary"
        qualification:
          description: "Search courses based on the award given on course completion."
          type: array
          example: "qts,pgce,pgde"
          items:
            type: string
            example: "qts"
        study_type:
          description: "Search full time or part time courses or both."
          type: array
          example: "full_time,part_time"
          items:
            type: string
            example: "full_time"
        subjects:
          description: "Returns courses that include at least one of the given subjects."
          type: array
          example: "00,01,W1"
          items:
            type: string
            example: "W1"
        send_courses:
          description: "Only return courses that have a SEND specialism."
          type: string
          example: "true"
        latitude:
          description: "Latitude of origin when performing a search by radius."
          type: number
          example: 54.9753348
        longitude:
          description: "Longitude of origin when performing a search by radius."
          type: number
          example: -1.6100477
        radius:
          description: "Search radius in miles from given latitude and longitude."
          type: number
          example: 20
    CourseResource:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: integer
        type:
          type: string
          example: "courses"
        attributes:
          $ref: "#/components/schemas/CourseAttributes"
        relationships:
          $ref: "#/components/schemas/CourseRelationships"
    CourseSingleResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CourseResource"
        included:
          $ref: "#/components/schemas/Included"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    Included:
      type: array
      items:
        $ref: "#/components/schemas/Resource"
    JSONAPI:
      type: object
      required:
        - version
      properties:
        version:
          type: string
          example: "1.0"
    LocationAttributes:
      type: object
      properties:
        code:
          type: string
          example: "W"
        name:
          type: string
          description: "The name of the location."
          example: "Henry Maynard Primary School"
        street_address_1:
          type: string
          description: "Building or street line one."
          example: "The Rose Building"
        street_address_2:
          type: string
          description: "Building or street line two."
          example: "Maynard Road"
        city:
          type: string
          description: "Town or city."
          example: "London"
        county:
          type: string
          description: "County."
          example: "London"
        postcode:
          type: string
          description: "The postcode of the location."
          example: "E17 9JE"
        region_code:
          type: string
          example: "london"
        recruitment_cycle_year:
          type: string
          example: "2020"
    LocationResource:
      type: object
      properties:
        id:
          type: string
          example: "11214485"
        type:
          type: string
          example: "sites"
        attributes:
          $ref: "#/components/schemas/LocationAttributes"
    LocationsList:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LocationResource"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    LocationStatusResource:
      type: object
      description: "Wrapper object for LocationStatusAttributes."
      properties:
        id:
          type: string
          example: "22329867"
        type:
          type: string
          example: site_statuses
        attributes:
          $ref: "#/components/schemas/LocationStatusAttributes"
    ProviderResource:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: integer
          example: 1
        type:
          type: string
          example: "providers"
        attributes:
          $ref: "#/components/schemas/ProviderAttributes"
        relationships:
          $ref: "#/components/schemas/ProviderRelationships"
    ProviderListResponse:
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProviderResource"
        included:
          $ref: "#/components/schemas/Included"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    ProviderSingleResponse:
      type: object
      required:
        - data
        - jsonapi
      properties:
        data:
          $ref: "#/components/schemas/ProviderResource"
        included:
          $ref: "#/components/schemas/Included"
        jsonapi:
          $ref: "#/components/schemas/JSONAPI"
    Relationship:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/ResourceIdentifier"
        meta:
          type: object
    RelationshipList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ResourceIdentifier"
    Resource:
      anyOf:
        - $ref: "#/components/schemas/CourseResource"
        - $ref: "#/components/schemas/RecruitmentCycleResource"
        - $ref: "#/components/schemas/SubjectResource"
        - $ref: "#/components/schemas/LocationResource"
        - $ref: "#/components/schemas/LocationStatusResource"
      discriminator:
        propertyName: type
    ResourceIdentifier:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
        id:
          type: string
    RecruitmentCycleResource:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: integer
        type:
          type: string
        attributes:
          $ref: "#/components/schemas/RecruitmentCycleAttributes"
    SubjectResource:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: integer
        type:
          type: string
          example: subjects
        attributes:
          $ref: "#/components/schemas/SubjectAttributes"
