<%= render Shared::AdviceComponent::View.new(title: t(".heading")) do %>
  <p class="govuk-body"><%= t(".content.discuss_your_preferences") %></p>
  <p class="govuk-body">
    <%= govuk_link_to t(".content.find_out_more_about_school_placements"), t("find.get_into_teaching.url_school_placements") %>
  </p>
<% end %>
