<% content_for :page_title, title_with_error_prefix("Accredited providers", nil) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Accredited providers
      </h1>

      <%= govuk_button_link_to("Add accredited provider",
     new_publish_provider_recruitment_cycle_accredited_providers_path(provider_code: @provider.provider_code,
                                                                      recruitment_cycle_year: @provider.recruitment_cycle_year)) %>
    </div>
  </div>

  <% if @provider.accredited_providers.none? %>
  <!-- is this neccessary? if so it needs a style class? -->
      There are no accredited providers for <%= @provider.provider_name %>.
  <% else %>
    <% @provider.accredited_bodies.each do |accredited_body| %>
      <%= render AccreditedProvider.new(provider_name: accredited_body[:provider_name], remove_path: root_path, about_accredited_provider: accredited_body[:description], change_about_accredited_provider_path: root_path) %>
    <% end %>
  <% end %>
