<div class="govuk-radios govuk-radios" data-module="govuk-radios">
  <% [["yes", true], ["no", false]].each do |label, value| %>
    <div class="govuk-radios__item">
      <%= form.radio_button(
            :is_send,
            value,
            class: "govuk-radios__input",
            data: {
              qa: "course__is_send_#{value}"
            }
          ) %>
      <%= form.label(
            :is_send,
            value: label,
            class: "govuk-label govuk-radios__label"
          ) %>
    </div>
  <% end %>
</div>
