// Entry point for your Sass build
@import "../govuk_style_setup";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";
@import "./one-login";

@import "../components/accordion";
@import "../components/autocomplete";
@import "../components/button-link";
@import "../components/filters";
@import "../components/footer";
@import "../components/header";
@import "../components/js-enabled";
@import "../components/list";
@import "../components/pagination";
@import "../components/summary-card";
@import "../components/callout";

@import "./components/accordion";
@import "./components/feedback";
@import "./components/filter-layout";
@import "./components/filter";
@import "./components/filter-search";
@import "./components/filters";
@import "./components/map";
@import "./components/no_saved_courses_box";
@import "./components/promoted-link";
@import "./components/quick-link-card";
@import "./components/save-course-button";
@import "./components/saved_course";
@import "./components/search-results";
@import "./components/text-ellipsis";
@import "./components/toggle";
@import "./components/homepage_search";

.govuk-notification-banner__content--grey {
  background-color: #f3f2f1;
}

.govuk-notification-banner--git {
  margin-bottom: 30px;

  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 5px solid	#f47738;
}

.govuk-accordion__section--non-uk {
  background-color: #f3f2f1;
  border-left: 5px solid #4c2c92;
}
