<% a_level_subject_requirements.each do |a_level_subject_requirement| %>
  <p class="govuk-body">
    <%= a_level_subject_requirement %>
  </p>
<% end %>

<% unless course.accept_pending_a_level.nil? %>
  <p class="govuk-body"><%= pending_a_level_summary_content %></p>
<% end %>

<% unless course.accept_a_level_equivalency.nil? %>
  <p class="govuk-body"><%= a_level_equivalency_summary_content %></p>
<% end %>

<% if course.accept_a_level_equivalency? && course.additional_a_level_equivalencies.present? %>
  <p class="govuk-body">
    <%= course.additional_a_level_equivalencies %>
  </p>
<% end %>
