<%= t("publish.providers.school_placements.edit.guidance_text_html") %>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t("publish.providers.school_placements.edit.summary_text") %>
    </span>
  </summary>
  <div class="govuk-!-margin-top-4" />
  <%= render Shared::Courses::SchoolPlacementsAdvice::View.new(@course) %>
</details>
