<%= t("publish.providers.school_placements.edit.guidance_text_html") %>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See what you wrote last cycle
    </span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-body">
    <strong>About this course</strong>
  </p>
  <p class="govuk-body">
    Our PGCE programme in your chosen subject will give you the necessary knowledge, skills and experience to confidently start your career as a teacher. Over the duration of the programme, you will undertake three modules resulting in 60 Level 7 credits, alongside professional training and education that best prepares you for the classroom.
  </p>
  <p class="govuk-body">
    This programme will not only provide you with QTS, but also a qualification which could later contribute towards our Master’s Degree in Education.
  </p>
  <p class="govuk-body">
    This programme is comprehensive and specialised. You will encounter a range of topics, concepts and ideas that will help you grow in confidence in the classroom, drawing on contemporary research, theory and examples of good professional practice. You will then study these topics through the specialist lens of your chosen subject, ensuring right from the beginning you are being prepared to be the best possible ambassador for your subject in secondary schools. You will benefit from periods of Intensive Training and Practice periods to develop skills in behaviour management, assessment, planning and adaptive teaching. You will also have the opportunity for two placements, each in a different school spread out over the academic year.
  </p>
  <p class="govuk-body">
    By studying for a PGCE with QTS with us or in partnership with one of our delivery partners, you will be joining an institution that can trace its roots in teacher education back to 1891 at Charlotte Mason’s House of Education at Ambleside and to 1964 at St Martin’s College at Lancaster. We are proud of this heritage, and proud that we continue to make a significant contribution to teacher education.
  </p>
  <p class="govuk-body">
    <strong>How placements work</strong>
  </p>
  <p class="govuk-body">
    We work in partnership with over 1000 schools based across a wide geographical area including Cumbria, North Lancashire and London.
  </p>
  <p class="govuk-body">
    As the University is multi-site the schools used for placement depend on the campus a student is based at (i.e. Students based on the London campus attend placement in London).
  </p>
  <p class="govuk-body">
    Schools are selected based on their current OFSTED grading and their understanding of the University’s programmes and grading criteria. Schools provide a trained professional mentor who is supported by a dedicated university based academic tutor (University Partnership Tutor).
  </p>
  <p class="govuk-body">
    Students will undertake three assessed placements that increase in length as they progress through the course experiencing over 120 days in a school setting. Students on a Primary QTS programme will experience all primary age ranges depending on the programme selected and students on a Secondary QTS programme will have a placement appropriate to their subject specialism. From student feedback the average travel time to placement is about 1 hour. The University places a limit of 90 minutes travel time to placement.
  </p>
  </div>
</details>
<ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
  <li><a class="govuk-link" href="#where-you-will-train">Where you will train</a></li>
  <li><a class="govuk-link" href="#what-you-do-school-placements">What you will do on school placements</a></li>
  <li><a class="govuk-link" href="#what-you-will-study">What you will study</a></li>
</ul>



