<%= t("publish.providers.school_placements.edit.guidance_text_html") %>

<p class="govuk-body"><a class="govuk-link" href="#">See what you've already written about where and how trainees will train.</a></p>

<ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
  <li><a class="govuk-link" href="#where-you-will-train">Where you will train</a></li>
  <li><a class="govuk-link" href="#what-you-do-school-placements">What you will do on school placements</a></li>
  <li><a class="govuk-link" href="#what-you-will-study">What you will study</a></li>
</ul>



