<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <% if multiple_providers_or_admin? || rollover_active? %>
      <p class="govuk-heading-s title-bar-inline govuk-!-margin-bottom-2"><%= title %></p>
    <% end %>

    <% if rollover_active? %>
      <span class="govuk-hint title-bar-inline">
        <%= recruitment_label %>
      </span>
    <% end %>

    <% if rollover_active? %>
      <%= change_cycle_link(@provider) %>
    <% end %>

    <% if multiple_providers_or_admin? %>
      <%= change_organisation_link %>
    <% end %>
  </div>
</div>
