<% content_for :page_title, "Cookies" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Cookies</h1>
    <h2 class="govuk-heading-l">The cookies we use</h2>
    <p class="govuk-body">This service uses these cookies:</p>
    <table class="govuk-table app-table--vertical-align-middle">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Purpose</th>
          <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell "><span class="break-word">_publish_teacher_training_courses_session</span></td>
          <td class="govuk-table__cell ">Remembers your identity when you are signed in</td>
          <td class="govuk-table__cell ">After 6 hours or on signing out</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
