<% content_for :page_title, "Course summary examples" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">How to use this service</span>
      Course summary examples
    </h1>
    <p class="govuk-body">Based on our research into how candidates read course content, we know that candidates prefer shorter content that's easy to read and scan. We’ve reduced the maximum word limit for the ‘Course summary’ (previously ‘About this course’) from 400 words to 200 words.</p>
    <p class="govuk-body">Here are some ‘Course summary’ examples showing how you can keep descriptions short, well-formatted and focused.</p>

    <h2 class="govuk-heading-m">Biology</h2>
    <p class="govuk-body">You’ll spend the first 2 weeks of your training at the Becoming a Teacher (BAT) studio in Sheffield city centre. Here, you’ll meet other new trainees and learn about the principles of great teaching and behaviour management.</p>
    <p class="govuk-body">You’ll then begin the first of your 2 school placements, where you’ll be matched with an experienced biology teacher (your ‘subject tutor’). They’ll support you to develop your own teaching practice and gain confidence leading a class.</p>
    <p class="govuk-body">Each of your school placements lasts approximately 4 months, with breaks during school holidays. You’ll spend 4 days of the week observing, delivering, and preparing for lessons with the help of your subject tutor and mentor. The 5th day of the week is dedicated to theoretical learning, such as writing the 2 essays which are an essential part of getting your PGCE.</p>
    <p class="govuk-body">By the end of your training you’ll be ready to be assessed against the teaching standards, so that you can get qualified teacher status (QTS). You’ll have an interview, share a portfolio of work, and be observed teaching. Your mentor will work with you throughout the year to ensure you’re ready for this.</p>
    <p class="govuk-body">(189 words)</p>

    <h2 class="govuk-heading-m">Art and Design</h2>
    <p class="govuk-body">This varied and inclusive art and design course is offered in collaboration with the University of Becoming a Teacher (BAT). The course is taught by experienced staff who were successful teachers and maintain strong links with schools.</p>
    <p class="govuk-body">During the course, you’ll develop your subject knowledge and pedagogy to give you the skills needed to become a confident teacher.</p>
    <p class="govuk-body">You’ll spend 1 day per week in university-led lectures and 4 days per week in school-led sessions. This will help you to develop your confidence in:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>classroom and behaviour management</li>
        <li>meeting individual needs and inclusion</li>
        <li>planning and assessment</li>
    </ul>
    <p class="govuk-body">At the end of the course, the e-portfolio you’ll have comprised throughout the year provides evidence that you have met the Teachers’ Standards for the award of Qualified Teacher Status (QTS). Our aim is that you’ll have the skills, experience and resilience needed to become a confident teacher.</p>
    <p class="govuk-body">(144 words)</p>
    <p class="govuk-body"><%= govuk_link_to "View more guidance on writing course summary descriptions", writing_descriptions_for_publish_teacher_training_courses_path %></p>
  </div>
</div>
