<% content_for :page_title, "Guidance" %>

<% content_for :before_content do %>
  <% if request.referrer.present? %>
    <%= govuk_back_link_to(:back) %>
  <% else %>
    <%= govuk_back_link_to(providers_path) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Guidance for Publish teacher training courses</h1>

    <h2 class="govuk-heading-l">New features</h2>
    <p class="govuk-body">We’re introducing a range of new features to Publish. These will allow you to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>add and edit locations</li>
      <li>update the vacancy status of a course</li>
      <li>create new courses</li>
      <li>edit course details (eg titles, outcomes, and fee or salary status)</li>
    </ul>
    <p class="govuk-body">The first two features are available now. The others will be introduced soon.</p>

    <h3 class="govuk-heading-m">See the new features in these videos</h3>

    <iframe class="govuk-!-margin-bottom-4" width="100%" height="315" src="https://www.youtube-nocookie.com/embed/nxmtXGy1cCY?rel=0" title="Video: Editing vacancies" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <%= govuk_details(summary_text: "Read a transcript of the video here") do %>
      <p class="govuk-body">In this video we’ll show you how to change the vacancy status of a course in Publish teacher training courses. First we’ll show you how to switch vacancies off for a course. And then we’ll show you how to switch vacancies on.</p>

      <h4 class="govuk-heading-s">To switch vacancies off</h4>
      <p class="govuk-body">First, scroll down to the Courses section on your Organisation Overview page.</p>
      <p class="govuk-body">The Courses section now contains an option allowing you to manage vacancies. Click through.</p>
      <p class="govuk-body">Here – on the Courses page – you’ll see the courses table.</p>
      <p class="govuk-body">This shows: your course title and code; its publication status (including whether it’s live on the Find tool); whether candidates can currently apply to it; and finally, whether it still has vacancies.</p>
      <p class="govuk-body">To turn vacancies off, scroll down to the course you’d like to update. And then click the Edit option in the Vacancies column.</p>
      <p class="govuk-body">This takes you through to the Edit Vacancies page for this course.</p>
      <p class="govuk-body">Here, you’re given two options. You can confirm that the course has no vacancies. Or you can confirm that there are still vacancies for this course.</p>
      <p class="govuk-body">If there are no longer any vacancies – if you’re no longer recruiting candidates – click the upper box.</p>
      <p class="govuk-body">Once you click ‘Publish changes’, this course will be closed to applications. Changes will be published immediately to Find.</p>
      <p class="govuk-body">Click ‘Publish changes’. You’ll see that the vacancy status of the course has now been updated – a message will tell you that the changes you’ve just made have been published.</p>
      <p class="govuk-body">If you now go back to the main Courses page, you’ll see that the Vacancies column has been updated too. This course is no longer accepting applications.</p>

      <h4 class="govuk-heading-s">To switch vacancies on</h4>
      <p class="govuk-body">Scroll down the Courses page to the courses table. And select the relevant course.</p>
      <p class="govuk-body">As you can see in the Vacancies column, this course currently doesn’t have any vacancies.</p>
      <p class="govuk-body">Click ‘Edit’.</p>
      <p class="govuk-body">As before, you’re given two options. Click the lower box to confirm there are vacancies. You’ll see a drop down list – this shows the locations related to this course. Tick those locations that still have vacancies. If any location doesn’t have vacancies, untick it.</p>
      <p class="govuk-body">Once you’ve confirmed that there are vacancies, click ‘Publish changes’ to open the course to new applications.</p>
      <p class="govuk-body">You’ll see a message confirming that the vacancy status of this course has now been updated – the changes you’ve made have now been published.</p>
      <p class="govuk-body">If you go back to the main Courses page, you’ll see that the Vacancies column has been updated in the course table. Candidates will now be able to apply for this course through Find.</p>
    <% end %>

    <iframe class="govuk-!-margin-bottom-4" width="100%" height="315" src="https://www.youtube-nocookie.com/embed/W_zhfemKiYM?rel=" title="Video: Adding and assigning locations" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <%= govuk_details(summary_text: "Read a transcript of the video here") do %>
      <p class="govuk-body">In this video we’ll show you how to add and edit locations in Publish teacher training courses.</p>
      <p class="govuk-body">Once you’ve signed in to Publish, go to your Organisation overview page. Click on the Locations section. Note that you can’t add or edit locations in the Courses section.</p>
      <p class="govuk-body">You’ll see a list of your locations – this includes ones associated with your current courses, as well as with courses that aren’t currently running.</p>
      <p class="govuk-body">A location is anywhere that candidates can choose when applying for a course. It’s usually where training takes place.</p>
      <p class="govuk-body">However, it could also be a main address that represents a number of training sites.</p>
      <p class="govuk-body">In this video, first of all we’ll show you how to change the details for a location. Then, we’ll show you how to add a new location – and assign it to one of your courses.</p>

      <h4 class="govuk-heading-s">1.</h4>
      <p class="govuk-body">To change location details, click on the location you’d like to edit.</p>
      <p class="govuk-body">You’ll be taken to a page showing the name and address of this location. Make your changes in the relevant fields.</p>
      <p class="govuk-body">When you’ve finished, click ‘save and publish changes’. Alternatively, click ‘cancel changes’ if you don’t wish to make any edits.</p>
      <p class="govuk-body">You’ll be taken back to the main Locations page. Any changes you make will be published immediately to Find postgraduate teacher training courses.</p>
      <p class="govuk-body">They’ll also be updated in UCAS Apply within two hours.</p>

      <h4 class="govuk-heading-s">2.</h4>
      <p class="govuk-body">To add a new location, click the green ‘Add a location’ button on the Locations page. </p>
      <p class="govuk-body">Fill in the name and address of the location, including the full postcode. You should also specify a region. A location code will automatically be generated for this location. Click Save.</p>

      <h4 class="govuk-heading-s">3.</h4>
      <p class="govuk-body">Once you’ve added your location, you can assign it to a course. This will allow candidates to select it during the application process.</p>
      <p class="govuk-body">To assign your location to a course, go back to the main page for your organisation. Scroll down to Courses.</p>
      <p class="govuk-body">Though you can only edit your locations in the Locations section, you can only assign them to a course in Courses.</p>
      <p class="govuk-body">On the Courses page, select the course you’d like to add the location to.</p>
      <p class="govuk-body">On the course page, click the ‘Basic details’ tab.</p>
      <p class="govuk-body">You’ll see a Locations option. The table sets out the locations that candidates can currently choose from when applying for this course.</p>
      <p class="govuk-body">To add your new location, click ‘Change’. Here you’ll see a list of all your existing locations. There are ticks next to those currently assigned to this course. </p>
      <p class="govuk-body">Tick the one you’d like to add. Click ‘save and publish changes’.</p>
      <p class="govuk-body">You’ll be taken back to the ‘Basic details’ table. The location has now been added to this course.</p>
      <p class="govuk-body">It will be published immediately to Find postgraduate teacher training – and to UCAS Apply within two hours.</p>
    <% end %>
  </div>
</div>
