<% content_for :page_title, "How to use this service" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How to use this service</h1>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Course summary examples", course_summary_examples_path %>
      </li>
      <li>
        <%= govuk_link_to "Writing descriptions for Publish teacher training courses", writing_descriptions_for_publish_teacher_training_courses_path %>
      </li>
    </ul>
  </div>
</div>
