<% content_for :page_title, "Writing descriptions for Publish teacher training courses" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">How to use this service</span>
        Writing descriptions for Publish teacher training courses
    </h1>
      <p class="govuk-body">There are many things a candidate needs to consider before applying for a teacher training course. For example, how will they finance their training? Are they able to travel to the school or university? Do they have the right qualifications?</p>

      <h2 class="govuk-heading-m">What candidates tell us</h2>
      <p class="govuk-body">Aside from fundamental questions about entry requirements and funding, most of the candidates we speak to tell us that they also need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>where and how they’ll spend their time</li>
          <li>who they’ll be training with and how they will be supported</li>
          <li>how they’ll be assessed and what the course outcomes will be</li>
      </ul>
      <p class="govuk-body">Candidates are looking for what they will get out of the course and how it will benefit them, so keep the focus how the course will help them to grow as a teacher.</p>
      <p class="govuk-body">Candidates say they can sometimes feel a little overwhelmed by the amount of content on course pages. There’s a lot to think about, so making the descriptions as clear and concise as possible means they are more likely to apply to a course that’s right for them.</p>

      <h2 class="govuk-heading-m">Writing for the web</h2>
      <p class="govuk-body">People read differently online than the way they read on paper. On the web, eye-tracking research shows that people tend to scan the content looking for the information they need.</p>
      <p class="govuk-body">It’s important to format content to make it easy to scan and write it in plain English so it’s easy to understand. You can do this by:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>using short sentences and paragraphs</li>
          <li>avoiding jargon and using common words</li>
          <li>using as few words as possible</li>
      </ul>
      <p class="govuk-body">On Find postgraduate teacher training, the 'Course summary' is the first description candidates will read. See our <%= govuk_link_to "examples of course summaries",  course_summary_examples_path %> that follow best practice for online content.</p>
      <p class="govuk-body">Read more about <%= govuk_link_to "how to write for the web", "https://www.gov.uk/guidance/content-design/writing-for-gov-uk" %>.</p>
  </div>
</div>
