<div data-qa="course__loan_details">
  <p class="govuk-body">
    You may be eligible for a student loan.
    These are normally for undergraduate courses but you can also apply if you do postgraduate teacher training.
    <%= govuk_link_to("Find out how much loan you could get using the student finance calculator", "https://www.gov.uk/student-finance-calculator") %>.
  </p>
  <p class="govuk-body">
    Depending on your immigration status, financial support may not be available.
    Find out about
    <%= govuk_link_to("training to teach if you’re a non-UK citizen", "https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen") %>, including financial support.
  </p>
</div>
