<div data-qa="course__salary_details">
  <p class="govuk-body">
    Financial support is not available for this course because it comes with a salary.
  </p>
  <p class="govuk-body">
    <a href="https://www.gov.uk/government/publications/national-pay-scales-for-eligible-teaching-and-education-jobs/national-pay-scales-for-eligible-teaching-and-education-leadership-occupation-codes">Find out more about national pay scales for unqualified teachers</a>
  </p>
  <p class="govuk-body">
    Salaried courses are in high demand, so check your eligibility with the training provider and apply as soon as possible.
  <p>
  <p class="govuk-body">
    If you choose a course without a salary, you may be eligible for financial support. This includes bursaries, scholarships and student loans.
  </p>
  <p class="govuk-body">
    <a href="https://getintoteaching.education.gov.uk/funding-and-support">Learn more about ways to fund your training</a>
  </p>
</div>
