<div data-qa="course__salary_details">
  <p class="govuk-body">
    Financial support is not available for this course because it comes with a salary.
  </p>
  <p class="govuk-body">
    <%= govuk_link_to "Find out more about national pay scales for unqualified teachers", t("find.links.url_national_pay_scales") %>
  </p>
  <p class="govuk-body">
    Salaried courses are in high demand, so check your eligibility with the training provider and apply as soon as possible.
  <p>
  <p class="govuk-body">
    If you choose a course without a salary, you may be eligible for financial support. This includes bursaries, scholarships and student loans.
  </p>
  <p class="govuk-body">
    <%= govuk_link_to "Learn more about ways to fund your training", t("find.get_into_teaching.url_fund_your_training") %>
  </p>
</div>
