<%= render "form", submit_button_text: "Continue" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m">
      <%= govuk_link_to "Courses landing page", find_landing_path %>
    </h3>
  </div>
</div>
