<section data-qa="courses__table-section">
  <% if show_heading? %>
    <h2 class="govuk-heading-m">
      <span class="govuk-caption-m"><%= t("publish.courses.index.ratifying_provider") %></span>
      <%= heading %>
    </h2>
  <% end %>

  <%= render Publish::Courses::TableComponent.new(courses:, provider:) %>
</section>
