<span class="govuk-body-s govuk-!-display-block"><%= funding_label %></span>
<span class="govuk-body-s govuk-!-display-block"><%= qualification_label %></span>
<span class="govuk-body-s govuk-!-display-block"><%= study_type_label %></span>
<% if start_date.present? %>
  <span class="govuk-body-s govuk-!-display-block govuk-!-font-size-16"><%= start_date %></span>
<% end %>
