<% course_list.groups.each do |group| %>
  <section class="app-table--courses__section">
    <% unless group.self_accredited? %>
      <h2 class="govuk-heading-m">
        <span class="govuk-caption-m"><%= t("publish.courses.index.ratifying_provider") %></span>
        <%= group.heading %>
      </h2>
    <% end %>

    <%= render Publish::Courses::TableComponent.new(courses: group.courses, provider:) %>
  </section>
<% end %>
