<table class="govuk-table app-table--vertical-align-top app-table--courses">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%= t("publish.courses.course_table.course") %></th>
      <th class="govuk-table__header"><%= t("publish.courses.course_table.course_information") %></th>
      <th class="govuk-table__header"><%= t("publish.courses.course_table.status") %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% courses.each do |course| %>
      <%= render Publish::Courses::RowComponent.new(course:, provider:) %>
    <% end %>
  </tbody>
</table>
