default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: <%= ENV['DB_USERNAME'] || 'manage_courses' %>
  password: <%= ENV['DB_PASSWORD'] || 'manage_courses' %>
  host: <%= ENV['DB_HOSTNAME'] || 'localhost' %>
  port: <%= ENV['DB_PORT'] || '5432' %>

development:
  <<: *default
  database: <%= ENV['DB_DATABASE'] || 'manage_courses_backend_development' %>

test:
  <<: *default
  database: <%= ENV['DB_DATABASE'] || "manage_courses_backend_test#{ENV['TEST_ENV_NUMBER']}" %>

staging:
  <<: *default
  database: <%= ENV['DB_DATABASE'] || 'manage_courses_backend_staging' %>

qa:
  <<: *default
  database: <%= ENV['DB_DATABASE'] || 'manage_courses_backend_qa' %>

pentest:
  <<: *default
  database: <%= ENV['DB_DATABASE'] || 'manage_courses_backend_pentest' %>

production:
  <<: *default
  username: <%= ENV['DB_USERNAME'] || 'postgres' %>
  password: <%= ENV['DB_PASSWORD'] %>
  database: <%= ENV['DB_DATABASE'] %>

