environment:
  name: "beta"
service_support:
  contact_email_address: becomingateacher@digital.education.gov.uk

# URL of this app for the callback after sigining in
base_url: https://localhost:3001

dfe_signin:
  # Our service name
  identifier: bats2
  # URL that the users are redirected to for signing in
  issuer: https://test-oidc.signin.education.gov.uk/
  # URL of the users profile
  profile: https://test-profile.signin.education.gov.uk
  # This value must be set otherwise sign in will fail
  secret: replace-with-secret
  # The URL support users are directed to in order to find a user by email
  user_search_url: https://test-support.signin.education.gov.uk/users

use_ssl: false

authentication:
  algorithm: HS256
  # Set this in the env! The below ensures that we are un-authenticatable if we
  # forget to do this in production.
  secret: <%= SecureRandom.base64 %>
  issuer: "publish-teacher-training"
  audience: "teacher-training-api"
  subject: "access"

current_recruitment_cycle_year: 2021
allocation_cycle_year: 2020
govuk_notify:
  api_key: please_change_me
  welcome_email_template_id: 42a9723d-b5a1-413a-89e6-bbdd073373ab
  course_update_email_template_id: ebd252cf-21b2-48b6-b00c-ab6493189001
  course_publish_email_template_id: c4944115-6e73-4b30-9bc2-bf784c0e9aaa
  magic_link_email_template_id: 26a4c7f2-3caa-4770-8b2e-d7baf6342dd1
  course_withdraw_email_template_id: f7fee829-f0e7-40d1-9bd7-299f673e8c24
  course_sites_update_email_template_id: d5c8da46-9aa6-4c0a-8fad-ee782e89dbd3
  course_subjects_updated_email_template_id: b65aef1a-5847-44e6-90e0-88e0ea7898ec
  course_vacancies_updated_email_template_id: 3ae884e9-8495-44cf-9928-907b89a9f356
  course_vacancies_partially_updated_email_template_id: ccd54838-4266-497a-bf74-fca15ca05d27
publish_url: http://localhost:3000
find_url: http://localhost:3002
mcbg:
  redis_password: <%= SecureRandom.base64 %>
system_authentication_token: <%= SecureRandom.base64 %>
application: teacher-training-api
logstash:
  type: tcp
  host: # Our hostname here
  port: # Our port here
  ssl_enable: true
log_level: info
magic_link:
  max_token_age: <%= 1.hour %>
skylight:
  enable: false
  authentication: please_change_me
mapit_api_key: please_change_me
mapit_url: https://mapit.mysociety.org
