<div class="govuk-form-group">
  <%= label_tag "provider_search", filter_label, class: "govuk-label govuk-label--s" %>
  <%= text_field_tag "provider_search", (filters[:provider_search] if filters), spellcheck: false, class: "govuk-input" %>
</div>
<div class="govuk-form-group">
  <%= label_tag "course_search", t("components.filter.providers.course_search"), class: "govuk-label govuk-label--s" %>
  <%= text_field_tag "course_search", (filters[:course_search] if filters), spellcheck: false, class: "govuk-input" %>
</div>
