<% if @errors && @errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" data-ga-event-form="error">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% if @errors.key?(:age_range_in_years) %>
          <li data-error-message="<%= @errors[:age_range_in_years].first %>">
            <%= link_to @errors[:age_range_in_years].first, "#age_range_in_years-error" %>
          </li>
        <% else %>
          <% @errors.each do |id, messages| %>
            <% messages.each do |message| %>
              <li data-error-message="<%= message %>"><%= link_to message, "##{id}-error" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
