<ul>
<% @establishments.each do |establishment| %>
    <li>[<%= establishment.urn %>]
        <%= link_to establishment.name,
                    gias_establishment_path(
                        urn: establishment.urn
                    ) %></li>
<% end %>
</ul>

<%== pagy_nav(@pagy) %>
