<div class="app-preview-container--heading">
    <span class="govuk-body"><strong>Preview of what candidates will see</strong></span>
</div>
<div class="app-preview-container">
    <p class="govuk-heading-m"><%= preview_heading %></p>
    <p class="govuk-body" data-input-preview-target="preview" data-preview-target="preview1">The text you type above will show here.</p>
</div>
