<dl class="govuk-summary-list govuk-!-margin-bottom-6">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".uk_citizens") %>
    </dt>
    <dd class="govuk-summary-list__value"
        data-input-preview-target="preview"
        data-preview-target="currency1">
      <%= t(".preview_text") %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(".non_uk_citizens") %>
    </dt>
    <dd class="govuk-summary-list__value"
        data-input-preview-target="preview"
        data-preview-target="currency2">
      <%= t(".preview_text") %>
    </dd>
  </div>
</dl>
