<div class="govuk-!-margin-top-4">
  <p
    class="govuk-body"
    data-input-preview-target="preview"
    data-preview-target="interview_location"
    data-online-message="<%= t("find.courses.v2.interview_process.interview_process.online_interview") %>"
    data-both-message="<%= t("find.courses.v2.interview_process.interview_process.online_interview") %>"
    data-both-hint="<%= t("find.courses.v2.interview_process.interview_process.individual_circumstances") %>"></p>
</div>
