<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See what you wrote last cycle
    </span>
  </summary>
  <div class="govuk-details__text">
    <% texts.each do |text| %>
        <p class="govuk-body">
            <%= text %>
        </p>
    <% end %>
  </div>
</details>