<% if texts&.map{|val| val[1].present? }&.any? %>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t(".text") %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <% texts.each do |headline, text| %>
      <% next if text.blank? %>

      <% if headline %>
        <p class="govuk-body">
          <strong><%= headline %></strong>
        </p>
      <% end %>
      <p class="govuk-body">
          <%= text %>
      </p>
    <% end %>
  </div>
</details>
<% end %>
