<%= render PageTitle.new(title: "support.candidates.index") %>

<h1 class="govuk-heading-l"><%= t("page_titles.candidates.index") %></h1>

<%= render PaginatedFilter.new(filter_params: @filter_params, collection: @candidates, pagy: @pagy) do %>
  <%= render "candidates", candidates: @candidates %>
<% end %>
