<% content_for :page_title, "Sorry, there is a problem with the service" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">
      If you continue to see this error contact the Becoming a Teacher team: <%= bat_contact_mail_to subject: "Problem with the service" %>
    </p>
  </div>
</div>
