<% content_for :page_title, "Page not found" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">
      If you typed a web address, check it is correct.
    </p>
    <p class="govuk-body">
      If you pasted the web address, check you copied the entire address.
    </p>
    <p class="govuk-body">
      If you have any questions, email<br> <%= bat_contact_mail_to subject: "Page not found" %>.
    </p>
  </div>
</div>
