<% content_for :page_title, "The requested format could not be processed" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">The format requested is not available</h1>
    <% if request.path[/\..*/] %>
    <p class="govuk-body">Try removing the "<%= request.path[/\..*/] %>" from the url.</p>
    <% end %>
    <p class="govuk-body">
      Contact us by email to request access: <%= bat_contact_mail_to subject: "Publish teacher training courses access request" %>
    </p>
  </div>
</div>
