<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See what you wrote last cycle
    </span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-body">
    This fee includes the PGCE element to the programme in addition to the QTS.
  </p>
  <p class="govuk-body">
    If you are unsure at the time of applying, whether to choose QTS only or QTS with PGCE, we can discuss the options with you at interview. Should you choose the QTS only programme, the fee would be reduced to £8535.   </p>
  <p class="govuk-body">
    Bursaries of £26,000 are available to eligible trainees. Alternatively, you may be eligible for student loans to cover the cost of your tuition fee or to help with living costs. Find out more by contacting the DfE.   </p>
  </p>
  </div>
</details>
