<% page_title = @study_site_form.site.location_name %>
<% content_for :page_title, title_with_error_prefix(page_title, @study_site_form.errors.any?) %>
<% content_for :before_content do %>
  <%= govuk_back_link_to(publish_provider_recruitment_cycle_study_site_path(@provider.provider_code, @site.recruitment_cycle.year, @site.id)) %>
<% end %>

<div class="govuk-grid-row">
  <% content_for :form_heading do %>
    <h1 class="govuk-heading-l">
      <%= @site.location_name_was %>
    </h1>
  <% end %>

  <%= render partial: "form", locals: { model: @study_site_form, site: @site, form_url: publish_provider_recruitment_cycle_study_site_path, form_method: :patch } %>

</div>

<p class="govuk-body">
  <%= govuk_link_to(t("cancel"), publish_provider_recruitment_cycle_study_sites_path) %>
</p>
