<%= govuk_details(summary_text: "PGDE with QTS") do %>
  <p class="govuk-body">A postgraduate diploma in education (PGDE) with qualified teacher status (QTS) will allow you to teach in state schools in England and may allow you to teach in other parts of the UK.</p>
  <p class="govuk-body">It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you’d like to teach in.</p>
  <p class="govuk-body">Many PGDE courses include credits towards a Master’s degree.</p>
<% end %>
