<%= content_for :page_title do %>
  <%= t(
    ".heading",
    provider_name: @course.provider_name,
  ) %>
<% end %>
<% content_for :before_content do %>
  <%= govuk_back_link(
    href: find_course_path(
      provider_code: @course.provider_code,
      course_code: @course.course_code,
    ),
    text: t(
      ".back",
      course_name: @course.name,
      course_code: @course.course_code,
    ),
  ) %>
<% end %>

<div class="govuk-grid-row">
  <%= render partial: "shared/provider/provider_details", locals: { course: @course } %>
</div>
