<p class="govuk-body">A school placement is a school where the candidate might be placed in to do classroom experience, for example. Add placement schools then attach them to any of your courses from the ‘Basic details’ tab on the course page.</p>

<p class="govuk-body">Candidates will see a list of the attached placements in the ‘Training locations’ section on the course page on Find to help them get a sense of the areas your organisation operates in.<p>
