
<div class="govuk-inset-text">
  <p class="govuk-body">
    Your courses will not appear in candidates' location searches if you do not add placement schools to them.
  </p>

  <%= link_to "Find out more about why you should add school placement locations", t("links.how_to.add_school_placements") %>
</div>

