<% content_for :page_title, "Flight Check" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!-- Call out -->
    <div class="govuk-notification-banner app-notification-banner--flight-check" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content app-notification-banner--flight-check">

        <h1 class="govuk-heading-l">
          You should not include information about financial support from the government
        </h1>
        <p class="govuk-body">
          You have included information about financial support available from the government like student loans, bursaries or scholerships.
        </p>
        <p class="govuk-body">
          You should not include this information, as we already tell candidates about financial support available to them through the government.
        </p>

        <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          See what information we already tell candidates
        </span>
      </summary>
      <div class="govuk-details__text app-details-flight-check">
        <!-- Call out -->
          <div class="govuk-notification-banner app-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content app-notification-banner__content--grey">
              <span class="govuk-heading-m">
                Financial support for UK citizens
              </span>
              <span class="govuk-heading-s">Student loans</span>
              <p class="govuk-body">
                You may be eligible for student loans to cover the cost of your tuition fee or to help with living costs.
              </p>
              <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans">
                  Find out more about student loans for teacher training.
                </a>
              </p>
            </div>
          </div>
          <!-- END Call out -->
            <!-- Call out -->
          <div class="govuk-notification-banner app-notification-banner--non-uk" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content app-notification-banner__content--grey">
              <span class="govuk-heading-m">
                Financial support for non-UK citizens
              </span>
              <p class="govuk-body">
                If you are a non-UK citizen without indefinite leave to remain you are unlikely to be eligible for a bursary, scholarship or student loan.            </p>
              <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees">
                  Find out what financial support is available to non-UK citizens.
                </a>
              </p>
            </div>
          </div>
          <!-- END Call out -->
        </div>
    </details>

  </div>
</div>
<!-- END Call out -->

<button type="submit" class="govuk-button" data-module="govuk-button">
Edit fees and financial support
</button>

<p class="govuk-body">
  <a class="govuk-link" href="#">
    Continue without editing
  </a>
</p>

  </div>
</div>
