<%= render Shared::AdviceComponent::View.new(title: t(".heading")) do %>
  <p class="govuk-body"><%= t(".content.what_to_expect") %></p>
  <p class="govuk-body">
    <%= govuk_link_to t(".content.find_out_about_teacher_training"), t("find.get_into_teaching.url_initial_teacher_training") %>
  </p>
<% end %>
