  <% content_for :before_content do %>
    <%= govuk_back_link_to(publish_provider_recruitment_cycle_schools_path(@provider.provider_code, RecruitmentCycle.current.year)) %>
  <% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">We have added 4 schools to your account</h1>

        <p class="govuk-body">These are schools that are on <a class="govuk-link" href="https://www.register-trainee-teachers.service.gov.uk/">Register trainee teachers</a>.</p>

        <p class="govuk-body">
          <strong>
            Accrington Academy
          </strong><br>
            Queens Road West, Accrington, Lancashire, BB5 4FF
        </p>
        <p class="govuk-body">
          <strong>
            Ashford School
          </strong><br>
            East Hill, Ashford, Kent, TN24 8PB
        </p>
        <p class="govuk-body">
          <strong>
            Avonbourne Boys' and Girls' Academies
          </strong><br>
            Harewood Avenue, Bournemouth, Dorset, BH7 6NY
        </p>
        <p class="govuk-body">
          <strong>
            Bacon's College
          </strong><br>
            Timber Pond Road, London, SE16 6AT
        </p>
  </div>
</div>
