<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See what you wrote last cycle
    </span>
  </summary>
  <div class="govuk-details__text">
   <p class="govuk-body">
The interview process includes a written task, subject knowledge audit, a short teaching task and a panel interview.    <p class="govuk-body">
    If you’re passionate about enriching young lives through education, you’ll have the resources and expertise to become the best educator you can be. With personalised support, a tailored curriculum, and intimate classroom settings where lecturers know you by name, you’ll grow every step of the way.     </p>
    <p class="govuk-body">
The formal interview panel will be made up of various members of school staff, and may also include a university tutor.</div>
</details>
