<div id="contact_section" class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-contact">Contact details</h2>

  <div class="course-basicinfo">
    <dl class="app-description-list">
      <% if @provider.email.present? %>
        <dt class="app-description-list__label">Email</dt>
        <dd data-qa="provider__email">
          <%= govuk_mail_to @provider.email, @provider.email, title: "Send email to course contact", aria: { label: "Send email to course contact" } %>
        </dd>
      <% end %>

      <% if @provider.telephone.present? %>
        <dt class="app-description-list__label">Telephone</dt>
        <dd data-qa="provider__telephone">
          <%= @provider.telephone %>
        </dd>
      <% end %>

      <% if @provider.website.present? %>
        <dt class="app-description-list__label">Website</dt>
        <dd data-qa="provider__website">
          <%= govuk_link_to @provider.website, @provider.website %>
        </dd>
      <% end %>

      <% if course.provider.provider_code == '28T' && course.course_code == 'X104' %>
        <dt class="app-description-list__label">Address</dt>
        <dd data-qa="provider__address">
          LSJS
          <br>
          44A Albert Road
          <br>
          London
          <br>
          NW4 2SJ
      <% elsif @provider.full_address.present? %>
        <dt class="app-description-list__label">Address</dt>
        <dd data-qa="provider__address">
          <%= @provider.full_address %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
