<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-salary">Salary</h2>
  <% if course.salary_details.present? %>
    <%= markdown(course.salary_details) %>
  <% else %>
    <%= govuk_inset_text(classes: "app-inset-text--narrow-border app-inset-text--important") do %>
      <p class="govuk-body">Please add details for this section.</p>
    <% end %>
  <% end %>
</div>
