 <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <span class="govuk-caption-l">
    <%= @course.name_and_code %>
  </span>

  <h1 class="govuk-heading-l">
    Bulk update school placements
  </h1>

  <p class="govuk-body">This page works</p>

  <a href="#" class="govuk-button">
    Continue
  </a>

  </div>
</div>
