manage_api:
  base_url: https://api.publish-teacher-training-courses.service.gov.uk
  secret: please_change_me
search_api:
  base_url: https://api.find-postgraduate-teacher-training.service.gov.uk
  secret: please_change_me
bg_jobs:
  find_bulk_sync:
    cron: "0 */2 * * *"
    class: "BulkSyncCoursesToFindJob"
    queue: find_sync
feature:
  v3_routes: false
