govuk_notify:
  api_key: cafe-cafecafe-cafe-cafe-cafe-cafecafecafe-cafecafe-cafe-cafe-cafe-cafecafecafe
  welcome_email_template_id: please_change_me
system_authentication_token: "Ge32"
gcp_api_key: please_change_me
