.app-admin-only__section {
  background-color: govuk-colour("light-grey");
  border-left: 5px solid govuk-colour("purple");
  @include govuk-responsive-padding(3, "top");
  @include govuk-responsive-padding(3, "bottom");
  @include govuk-responsive-padding(3, "left");
  @include govuk-responsive-margin(8, "bottom");
}

.app-admin-only__section :last-child {
  margin-bottom: 0;
}

.app-admin-only__section-header {
  @include govuk-responsive-padding(3, "bottom");
}

.app-admin-only__section .autocomplete__input,
.app-admin-only__section .govuk-input {
  background-color: govuk-colour("white");
}
