.course-tabs {
  .govuk-tabs__panel {
    border: none;
    padding: govuk-spacing(6) 0 0;
  }

  .govuk-tabs {
    &__tab {
      color: $govuk-link-colour;
      font-weight: bold;
      text-align: left;
      text-decoration: none;
    }

    &__list-item--selected {
      background-color: govuk-colour("white");
      border-top: govuk-spacing(1) solid $govuk-link-colour;
      color: $govuk-text-colour;
      padding-top: govuk-spacing(2);
    }
  }
}
