.app-performance-dashboard {
  @include govuk-font($size: 19);
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(3, "bottom");
}

.app-performance-dashboard--primary {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
}

.app-performance-dashboard--secondary {
  background: govuk-colour("light-grey");
}

.app-performance-dashboard--kpi {
  background: govuk-colour("light-grey");
  @include govuk-responsive-margin(6, "bottom");
}

.app-performance-dashboard--green {
  background-color: govuk-colour("green");
  color: govuk-colour("white");
}

.app-performance-dashboard--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.app-performance-dashboard__title {
  @include govuk-font($size: 48, $weight: bold);
}

.app-performance-dashboard__title--small {
  @include govuk-font($size: 36, $weight: bold);
}

