// This is only needed when we use tags in the sidebar with a grey background. eg. Course details page
// It adds a 1px solid border around the tag with a match colour of the text.
// TODO Could be removed if we decide not to use grey background sections on pages

.app-related .app-phase-tag {
  &--no-content {
    border: 1px solid govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30);
  }

  &--draft {
    border: 1px solid govuk-shade(govuk-colour("yellow"), 65);
  }

  &--withdrawn {
    border: 1px solid govuk-shade(govuk-colour("red"), 30);
  }

  &--published {
    border: 1px solid govuk-shade(govuk-colour("green"), 20);
  }
}
