.govuk-success-summary {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(8, "bottom");

  border: $govuk-border-width-narrow solid $success-green;

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    // Ensure outline appears outside of the element
    outline-offset: 0;
  }

  @include govuk-media-query($from: tablet) {
    border: $govuk-border-width solid $success-green;
  }
}

.govuk-success-summary,
.govuk-error-summary {
  *:last-child {
    margin-bottom: 0;
  }
}

.govuk-success-summary__title {
  @include govuk-font($size: 24, $weight: bold);
  @include govuk-responsive-margin(4, "bottom");
  margin-top: 0;
}
