@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$success-green: #00823b;

@import "~govuk-frontend/govuk/all";

@import "success-summary";
@import "notice-summary";
@import "phase-tag";
@import "course-tabs";
@import "currency-input";
@import "warning-summary";
@import "definition-list";
@import "environments";
@import "header";
@import "map";
@import "admin-only";
@import "patterns/pagination";
@import "patterns/tabs";
@import "performance-dashboard";
@import "banner";
@import "tables";

.app-text-decoration-underline-dotted {
  text-decoration: underline dotted;
}

.app-related {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);

  .govuk-select {
    background: govuk-colour("white");
  }
}

.app-courses-locations-list__help-text {
  color: govuk-colour("dark-grey");
}

.app-courses-locations-list li:last-child {
  margin-bottom: 0;
}

.app-course-parts__fields__value--empty {
  color: govuk-colour("dark-grey");
}

.app-course-parts__fields__label--error {
  border-left: govuk-spacing(1) solid $govuk-error-colour;
  color: $govuk-error-colour;
  padding-left: govuk-spacing(2);
  padding-top: govuk-spacing(1);
}

.app-preview-banner {
  background: govuk-colour("light-grey");
  margin-top: govuk-spacing(2);
  padding: govuk-spacing(4);
}

.app-missing-section {
  @extend %govuk-body-m;
  border: 5px solid $govuk-border-colour;
  padding: govuk-spacing(3);
}

.app-warning-text--inline {
  margin-bottom: 0;

  + .govuk-body {
    margin-bottom: govuk-spacing(8);
    padding-left: govuk-spacing(8);
  }
}

.app-course-table {
  &__course-name {
    width: 33%;
  }
}

.govuk-summary-list--short {
  margin-bottom: govuk-spacing(8);
  margin-top: govuk-spacing(6);

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    width: 50%;
  }
}

.govuk-list li > .govuk-body:last-child {
  margin-bottom: 0;
}

.govuk-summary-list__value--truncate {
  max-width: 295px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.govuk-link--destructive {
  color: $govuk-error-colour;
}

.govuk-list--dash {
  margin-bottom: govuk-spacing(8);
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &:before {
      color: govuk-colour("dark-grey");
      content: "\2013";
      left: -16px;
      position: absolute;
      top: 0;
    }
  }
}

// Fixes <wbr> in IE9
// https://stackoverflow.com/a/23759279
wbr:after {
  content: "\00200B";
}

// Required since govuk-frontend 3.0.0
.app-table--vertical-align-middle .govuk-table__header,
.app-table--vertical-align-middle .govuk-table__cell {
  vertical-align: middle;
}

.app-google-map {
  display: none;

  .js-enabled & {
    display: block;
    margin-bottom: govuk-spacing(6);
    padding-bottom: 66.6%;
    width: 100%;
  }
}
