.app-advice {
  @include govuk-responsive-margin(4, "bottom");
  clear: both;

  padding: govuk-spacing(4);

  background: govuk-colour("light-grey");
  border-left: $govuk-border-width solid $git-brand-colour;
}

.app-advice__title {
  @include govuk-font($size: 24, $weight: "bold");
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
}

.app-advice__body > *:last-child {
  margin-bottom: 0;
}

#section-advice-and-support,
#section-tda-advice {
  padding: 20px;
  margin-bottom: 30px;

  background: govuk-colour("light-grey");
  border: 5px solid govuk-colour("pink");
}
