// Make a button look like a link
.app-button-link {
  @include govuk-link-common;

  &:not(:hover) {
    text-decoration: underline;
  }

  font-size: inherit;

  color: govuk-colour("blue");

  text-decoration: underline;

  cursor: pointer;

  background: none;
  border: none;
}

.app-cancel-button-container {
  padding-left: 0;
  margin-top: govuk-spacing(2);

  @include govuk-media-query($until: desktop) {
    padding-left: govuk-spacing(3);
    margin-top: 0;
  }
}
