.app-filter {
  background-color: govuk-colour("light-grey");
}

.app-filter__header {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;

  justify-content: space-between;

  padding: govuk-spacing(2) govuk-spacing(3);

  background-color: govuk-colour("light-grey");

  @include govuk-media-query($from: desktop) {
    position: static;
  }

  [class^="govuk-heading-"] {
    margin-bottom: 0;
  }
}

.app-filter__content {
  padding: govuk-spacing(4) govuk-spacing(3);
}

.app-filter__close {
  @include govuk-font(19);
  padding: govuk-spacing(1);
  margin: #{govuk-spacing(1) * -1};

  color: $govuk-text-colour;

  -webkit-appearance: none;
  cursor: pointer;

  background-color: transparent;
  border: none;
  border-radius: 0;

  &:focus {
    color: $govuk-focus-text-colour;

    outline: none;

    background-color: $govuk-focus-colour;
    box-shadow:
      0 -2px $govuk-focus-colour,
      0 4px $govuk-focus-text-colour;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;

    border: 0;
  }

  &::before {
    position: relative;
    top: -2px; // Alignment tweak

    display: inline-block;

    width: 14px;
    height: 14px;

    margin-right: govuk-spacing(1);

    vertical-align: middle;

    content: "";

    background-image: url("icon-cross.svg");
  }
}

.app-filter__group {
  padding-bottom: govuk-spacing(2);
  margin-bottom: govuk-spacing(3);

  border-bottom: 1px solid $govuk-border-colour;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;

    border-bottom: none;
  }

  .govuk-fieldset__legend {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-form-group {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .govuk-checkboxes__label,
  .govuk-radios__label {
    @include govuk-font(16);

    &::before {
      background-color: govuk-colour("white");
    }
  }
}
