.app-header--wide-logo {
  @include govuk-media-query($from: desktop) {
    .govuk-header__logo {
      width: auto;
    }

    .govuk-header__content {
      float: right;

      width: auto;
    }
  }
}

.govuk-service-navigation .govuk-service-navigation__container {
  justify-content: space-between;
}
