.app-header--wide-logo {
  @include govuk-media-query($from: desktop) {
    .govuk-header__logo {
      width: auto;
    }

    .govuk-header__content {
      float: right;

      width: auto;
    }
  }
}

.with-extra-content {
  @include govuk-media-query($from: desktop) {
    .govuk-header__container {
      display: flex;

      flex-wrap: wrap;
    }

    .govuk-header__product-name {
      white-space: nowrap;
    }
  }

  .account-options {
    display: flex;

    gap: govuk-spacing(4);
    align-items: center;
    justify-content: flex-end;

    width: auto;

    margin-left: auto;
  }
}

.govuk-service-navigation .govuk-service-navigation__container {
  justify-content: space-between;
}
