.app-list--dash {
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -16px;

      color: govuk-colour("dark-grey");

      content: "\2013";
    }
  }
}
