.app-pagination {
  display: block;

  margin: govuk-spacing(6) #{govuk-spacing(3) * -1};
}

.app-pagination__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.app-pagination__list::after {
  clear: both;

  display: block;

  content: "";
}

.app-pagination__item {
  @include govuk-font(14);
  float: left;

  width: 50%;

  padding: 0;
  margin: 0;

  text-align: right;

  @include govuk-media-query($from: tablet) {
    @include govuk-font(16);
  }
}

.app-pagination__link {
  display: block;

  padding: govuk-spacing(3);

  text-decoration: none;
}

.app-pagination__link-title {
  @include govuk-font(19);
  display: block;

  @include govuk-media-query($from: tablet) {
    @include govuk-font(27);
  }
}

.app-pagination__item--previous {
  float: left;

  text-align: left;

  @include govuk-media-query($until: tablet) {
    float: none;

    width: 100%;
  }
}

.app-pagination__item--next {
  float: right;

  text-align: right;

  @include govuk-media-query($until: tablet) {
    float: none;

    width: 100%;
  }
}

.app-pagination__link-icon {
  display: inline-block;

  width: 0.63em;
  height: 0.482em;

  margin-bottom: 1px;
}

.app-pagination__link-label {
  display: inline-block;

  margin-top: govuk-spacing(1);

  text-decoration: underline;
}
