<%= render PageTitle.new(title: "sign_in.index") %>
<%= render(NotificationBanner.new(text: t("publish.rollover_notification.text"), text_body: t("publish.rollover_notification.text_body"))) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render partial: "default_signin_content" %>
  </div>
</div>
