<%= render PageTitle.new(title: "sign_in.index") %>
<%= render(NotificationBanner.new(text: "You can start rolling over your courses from early September.", text_body: "In early September, your courses will be ready to be rolled over to the 2025 to 2026 recruitment cycle. We will email you when you need to sign in to check and publish, or delete, your courses.")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render partial: "default_signin_content" %>
  </div>
</div>
