<%= render "publish/shared/error_wrapper", error_keys: [:accredited_body], data_qa: "course__provider_search" do %>
  <%= form.label :accredited_body,
    for: "course_accredited_body",
    class: "govuk-label" do %>
    Name of accredited body
    <%= render "publish/shared/error_messages", error_keys: [:accredited_body] %>
    <span class="govuk-hint">Enter the name or provider code</span>
  <% end %>
  <%= form.text_field :accredited_body,
    autocomplete: "off",
    class: "govuk-input govuk-!-width-two-thirds" %>
  <div id="provider-autocomplete" class="govuk-!-width-two-thirds"></div>
<% end %>
