<div data-qa="course__loan_details">
  <p class="govuk-heading-s">
    Student loans
  </p>
  <p class="govuk-body">
      You may be eligible for student loans to cover the cost of your tuition fee or to help with living costs.
  </p>
  <p class="govuk-body">
      <%= govuk_link_to("Find out more about student loans for teacher training", "https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans") %>.
</p>
</div>
