  <div data-qa="course__salary_details">
    <p class="govuk-body">
    If you are a non-UK citizen without indefinite leave to remain you are unlikely to be eligible for a bursary or student loan.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to("Find out what financial support is available to non-UK citizens", "https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees") %>.
    </p>
  </div>
  <div data-qa="course__salary_details">
    <p class="govuk-body">
    If you’re a non-UK citizen, you’re very unlikely to get a place on a salaried course. Check your eligibilty with the course provider.
    </p>
  </div>
