  <!-- Content for salaried courses -->
  <div data-qa="course__salary_details">
  <p class="govuk-body">
  You can apply for a salaried teacher training course. However, these courses are limited in number and very competitive.
  </p>
  <p class="govuk-body">
    Before you apply, contact the salaried teacher training provider to check you meet the entry requirements.
  </p>
  </div>
