  <div data-qa="course__salary_details">
    <p class="govuk-body">
    If you are a non-UK citizen without indefinite leave to remain you are unlikely to be eligible for a bursary or student loan.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to("Find out what financial support is available to non-UK citizens", "https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees") %>.
    </p>
  </div>
  <div data-qa="course__salary_details">
  <p class="govuk-body">
  You can apply for a salaried teacher training course. However, these courses are limited in number and very competitive. On this type of course, you will not pay a fee, and you can earn money while you train in a school.
  </p>
  <p class="govuk-body">
    You will also need a <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/visas-for-non-uk-trainees">
      visa or immigration status</a> allowing you to work in the UK.
  </p>
  </div>
