<div data-qa="course__salary_details">
  <p class="govuk-body">
  Financial support is not available for this course because it comes with a salary.
  </p>
  <p class="govuk-body">
    <%= govuk_link_to "Find out more about national pay scales for unqualified teachers", t("find.links.national_pay_scales") %>.
  </p>
  <p class="govuk-body">
    Places on salaried courses are limited and very competitive. Check your eligibility with the training provider and apply as soon as possible.
  </p>
</div>
