<% if course.degree_section_complete? %>
  <p class="govuk-summary-list-value govuk-!-margin-top-0">
    <%= degree_grade_content(course) %>
  </p>

  <% if course.degree_subject_requirements.present? %>
    <p class="govuk-summary-list-value">
      <%= course.degree_subject_requirements %>
    </p>
  <% end %>
<% else %>
  <%= govuk_inset_text(classes: inset_text_css_classes) do %>
    <p class="govuk-heading-s app-inset-text__title">Do you require a minimum degree classification?</p>
    <p class="govuk-body">
      <%= govuk_link_to "Enter degree requirements",
        degrees_start_publish_provider_recruitment_cycle_course_path(
          course.provider.provider_code,
          course.recruitment_cycle_year,
          course.course_code,
          display_errors: has_errors? ? true : nil,
        ) 
      %>
    </p>
  <% end %>
<% end %>
