<%= content_for :page_title, @provider_user.full_name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= @provider_user.full_name %>
    </h1>

    <%= render GovukComponent::SummaryListComponent.new do |component|
          component.with_row do |row|
            row.with_key { "First name" }
            row.with_value(text: @provider_user.first_name)
            row.with_action(text: t("change"), href: edit_publish_provider_user_path(provider_code: @provider.provider_code), visually_hidden_text: t("users.first_name").downcase) unless @provider_user.has_sign_in_account?
          end

          component.with_row do |row|
            row.with_key { "Last name" }
            row.with_value(text: @provider_user.last_name)
            row.with_action(text: t("change"), href: edit_publish_provider_user_path(provider_code: @provider.provider_code), visually_hidden_text: t("users.last_name").downcase) unless @provider_user.has_sign_in_account?
          end

          component.with_row do |row|
            row.with_key { "Email address" }
            row.with_value(text: @provider_user.email)
            row.with_action(text: t("change"), href: edit_publish_provider_user_path(provider_code: @provider.provider_code), visually_hidden_text: t("users.email").downcase) unless @provider_user.has_sign_in_account?
          end
        end %>

    <p class="govuk-body">
      <%= govuk_link_to("Remove user", delete_publish_provider_user_path, class: "app-link--destructive") %>
    </p>

  </div>
</div>
