<div class="govuk-form-group">
  <%= label_tag "text_search", t("components.filter.allocations.text_search"), class: "govuk-label govuk-label--s" %>
  <%= text_field_tag "text_search", (filters[:text_search] if filters), spellcheck: false, class: "govuk-input", autocomplete: false %>
</div>
