.app-summary-list__value--truncate {
  max-width: 295px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.govuk-table {
  &--fixed {
    @extend .govuk-table;
    table-layout: fixed;
  }

  .break {
    word-break: break-all;
  }
}
