$govuk-fonts-path: "/";
$govuk-images-path: "/";
$govuk-new-typography-scale: true;

@import "govuk-frontend/dist/govuk/all";

$mobile-small-start: 400px;
$mobile-small-end: 401px;
$mobile-big-start: 500px;
$mobile-big-end: 501px;
// Get Into Teaching rebrand colours
$git-brand-colour: #54319f;
$git-non-uk-colour: #ca357c;
$git-support-colour: #aa98cf;
