$govuk-fonts-path: "/";
$govuk-images-path: "/";
$govuk-new-typography-scale: true;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

$moj-images-path: "@ministryofjustice/frontend/moj/assets/images/";
$mobile-small-start: 400px;
$mobile-small-end: 401px;
$mobile-big-start: 500px;
$mobile-big-end: 501px;
$git-brand-colour: govuk-colour("orange");
