// Entry point for your Sass build
@import "./govuk_style_setup";

@import "components/shared/advice";
@import "components/shared/autocomplete";
@import "components/shared/filters";
@import "components/shared/header";
@import "components/shared/js-enabled";
@import "components/shared/list";
@import "components/shared/pagination";
@import "components/shared/phase-banner";
@import "components/shared/accordion";


@import "components/publish/card";
@import "components/publish/cookie_banner";
@import "components/publish/description-list";
@import "components/publish/inset-text";
@import "components/publish/link";
@import "components/publish/navigation-bar";
@import "components/publish/paginator";
@import "components/publish/status-box";
@import "components/publish/summary-list";
@import "components/publish/tab-navigation";
@import "components/publish/table";
@import "components/publish/tabs";
@import "components/publish/title-bar";
@import "components/publish/code";
@import "components/publish/secondary-navigation";

.app-list--dash {
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &:before {
      color: govuk-colour("dark-grey");
      content: "\2013";
      left: -16px;
      position: absolute;
      top: 0;
    }
  }
}

// This ensures govuk-button-to form wrapper is aligned within button groups properly
.govuk-button-group {
  form { display: contents; }
}

.govuk-tag-no-max-width {
  max-width: none;
}
