// Entry point for your Sass build
@import "./govuk_style_setup";
@import "components/all";
@import "advice";
@import "card";
@import "description-list";
@import "inset-text";
@import "link";
@import "list";
@import "status-box";
@import "summary-list";
@import "table";
@import "tabs";
@import "pagination";
@import "autocomplete";
@import "cookie_banner";
@import "js-enabled";

.app-list--dash {
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &:before {
      color: govuk-colour("dark-grey");
      content: "\2013";
      left: -16px;
      position: absolute;
      top: 0;
    }
  }
}

// This ensures govuk-button-to form wrapper is aligned within button groups properly
.govuk-button-group {
  form { display: contents; }
}
