<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Provider name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Provider code</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Action</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @providers.each do |provider| %>
      <tr class="govuk-table__row qa-provider_row">
        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= govuk_link_to(provider.provider_name, support_provider_path(provider)) %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= provider.provider_code %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= govuk_button_to("Remove",
              support_user_permission_path(@user.user_permissions.find_by(provider_id: provider.id)),
              id: "remove-provider",
              method: :delete,
              class: "govuk-button govuk-button--warning govuk-!-margin-bottom-0") %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
