<%= content_for :page_title do %>
  <%= t(
    "publish.providers.courses.accredited_provider.show.heading",
    provider_name: @course.accrediting_provider
  ) %>
<% end %>
<% content_for :before_content do %>
  <%= govuk_back_link(
    href: preview_publish_provider_recruitment_cycle_course_path(
      @course.provider_code,
      @course.recruitment_cycle_year,
      @course.course_code
    ),
    text: t(
      "publish.providers.courses.accredited_provider.show.back",
      course_name: @course.name,
      course_code: @course.course_code
    )
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "find/courses/about_accrediting_provider", locals: { course: @course } %>
  </div>
</div>
