<div class="app-phase-banner<%= @no_border ? " app-phase-banner--no-border" : "" %> govuk-!-display-none-print">
  <%= govuk_phase_banner(
    tag: {
      text: environment_label,
      colour: environment_colour,
    },
  ) do %>
    Give feedback or report a problem: <%= bat_contact_mail_to subject: "Feedback about Find postgraduate teacher training", no_visited_state: true %>
  <% end %>
</div>
