<%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
  <% notification_banner.with_heading(
    text: "Service disruption today Thursday 9 October",
  ) %>
  <p class="govuk-body">
    All Department for Education services are experiencing intermittent issues. Your experience may be interrupted.
  </p>
<% end %>
