<%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
  <% notification_banner.with_heading(
    text: "Important",
  ) %>
  <p class="govuk-body">The service will be unavailable from 5pm to 7pm on Tuesday 28 April 2026.</p>
<% end %>
