<%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
  <% notification_banner.with_heading(
    text: "Login issues",
  ) %>
  <p class="govuk-body">Some users with non-UK mobile numbers may not be able to sign in at the moment. We’re aware of the issue and will remove this message once it’s resolved.</p>
<% end %>
