<% content_for :page_title, t(".page_title") %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: support_recruitment_cycles_path) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: @support_recruitment_cycle_form, url: support_recruitment_cycle_path(@recruitment_cycle), method: :patch) do |f| %>
    <%= render "form", f: f, page_caption: t(".page_caption"), page_title: t(".page_title") %>
  <% end %>
</div>
