<%= govuk_summary_card(title: title) do |card| %>
  <%= render Find::RecentSearches::FilterTagsComponent.new(active_filters: filter_tags) %>
  <p class="govuk-body govuk-!-margin-top-2">
    <%= govuk_link_to t(".search_again"), search_again_path %>
  </p>
<% end %>
