.app-code--style {
  margin-left: 0;

  font-size: govuk-font(19);

  text-align: left;
  word-spacing: normal;
  hyphens: none;
  word-break: normal;
  tab-size: 2;
  white-space: pre;

  background-color: #f3f2f1;
  direction: ltr;
}

.preformatted-text {
  margin: 15px 0 25px;

  overflow-x: scroll;

  text-align: left;
  word-spacing: normal;
  hyphens: none;
  word-break: normal;
  tab-size: 2;
  white-space: pre;

  outline: 1px solid rgba(177, 180, 182, 0.5);

  background-color: #f3f2f1;
  direction: ltr;

}

.preformatted-text--no-overflow {
  @extend .preformatted-text;

  overflow: hidden;
}
