%app-description-list {
  @include govuk-clearfix;
  margin-top: 0;
}

%app-description-list > dt {
  @include govuk-font($size: 19, $weight: bold);
  vertical-align: top;

  @include govuk-media-query($from: desktop) {
    float: left;
    clear: left;

    width: 30%;

    margin-bottom: govuk-spacing(1);
  }
}

%app-description-list > dd {
  @include govuk-font($size: 19, $weight: normal);
  margin: 0 0 govuk-spacing(2);

  vertical-align: top;

  @include govuk-media-query($from: desktop) {
    float: left;

    width: 70%;

    margin-bottom: govuk-spacing(1);
  }

  .govuk-details,
  .govuk-details__summary {
    margin-bottom: 0;
  }

  .govuk-details__text {
    margin-bottom: govuk-spacing(2);
  }
}

.app-description-list {
  @extend %app-description-list;

  &__label::after {
    display: inline-block;
  }

  &__hint {
    @include govuk-font($size: 16, $weight: normal);
    display: block;

    margin-bottom: govuk-space(1);

    color: $govuk-secondary-text-colour;
  }
}
