.app-tabs {
  @include govuk-media-query($from: tablet) {
    .govuk-tabs__list-item--selected {
      font-weight: bold;

      box-shadow: inset 0 govuk-spacing(1) $govuk-link-colour;
    }
  }
}

.app-tabs--course {
  .govuk-tabs__tab {
    padding-top: govuk-spacing(1);

    font-weight: bold;

    color: $govuk-link-colour;

    text-align: left;

    text-decoration: none;
  }

  .govuk-tabs__panel {
    padding: govuk-spacing(6) 0 0;

    border: none;
  }
}
