<div class="govuk-inset-text">
  <%= course_accredited_body_name(@course) %> can sponsor Student visas for some of their courses.

  <!--      Todo: Add the logic to render the above or the below depending on the condition-->

  <!--      <p class="govuk-body"><%#= course_accredited_body_name(@course) %> have said they cannot sponsor Student visas so we have defaulted your answer to ‘No’.</p>-->

  <!--      <p class="govuk-body">If your organisation would like to sponsor Student visas, contact <%#= course_accredited_body_name(@course) %>.</p>-->
</div>
