<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Email</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Providers</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @users.each do |user| %>
      <tr class="govuk-table__row user-row">
        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= user.full_name %>
          </span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= user.email %>
          </span>
        </td>
        <td class="govuk-table__cell">
          <% user.providers.each do |provider| %>
            <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= provider.provider_name %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
