<%= render PageTitle::View.new(title: "support.users.index") %>

<h1 class="govuk-heading-l">Users</h1>

<%= render "support/menu" %>

<%= render "users", users: @users %>
<%= render Paginator::View.new(scope: @users ) %>
