<div class="govuk-radios govuk-radios" data-module="govuk-radios">
  <% %i[primary secondary further_education].each do |level| %>
    <div class="govuk-radios__item">
      <%= form.radio_button(
        :level, level,
        class: "govuk-radios__input",
        data: {
          qa: "course__#{level}",
        }
      ) %>
      <%= form.label(
        :level,
        value: level,
        class: "govuk-label govuk-radios__label",
      ) %>
    </div>
  <% end %>
</div>
