<aside class="app-advice">
  <h3 class="app-advice__title">
    <span class="app-advice__caption">Advice from Get Into Teaching</span>
    Where you will train
  </h3>
  <p class="govuk-body">You’ll be placed in schools for most of your course. Your school placements will be within commuting distance.</p>
  <p class="govuk-body">You can’t pick which schools you want to be in, but your university will try to take your journey time into consideration.</p>
  <p class="govuk-body">Universities can work with over 100 potential placement schools. Most will be within 10 miles of the university, but sometimes they can cover a wider area, especially outside of cities.</p>
</aside>
