<aside class="app-advice">
  <h3 class="app-advice__title">
    <span class="app-advice__caption">Advice from Get Into Teaching</span>
    Where you will train
  </h3>
  <p class="govuk-body">You’ll be placed in different schools during your training. You can’t pick which schools you want to be in, but your course will try to place you in schools you can commute to.</p>
</aside>
