<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= @course.name_and_code %></span>
  <% if  @course.application_status_closed? %>
  Are you sure you want to open this course?
  <% else %>
  Are you sure you want to close this course?
  <% end %>
</h1>
