// Entry point for your Sass build
@import "../govuk_style_setup";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

@import "../components/advice";
@import "../components/autocomplete";
@import "../components/filters";
@import "../components/header";
@import "../components/js-enabled";
@import "../components/list";
@import "../components/pagination";
@import "../components/accordion";

@import "./components/card";
@import "./components/description-list";
@import "./components/inset-text";
@import "./components/link";
@import "./components/navigation-bar";
@import "./components/status-box";
@import "./components/summary-list";
@import "./components/tab-navigation";
@import "./components/table";
@import "./components/tabs";
@import "./components/title-bar";
@import "./components/code";
@import "./components/secondary-navigation";

.app-list--dash {
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &:before {
      color: govuk-colour("dark-grey");
      content: "\2013";
      left: -16px;
      position: absolute;
      top: 0;
    }
  }
}

// This ensures govuk-button-to form wrapper is aligned within button groups properly
.govuk-button-group {
  form {
    display: contents;
  }
}

.govuk-tag-no-max-width {
  max-width: none;
}
