// Entry point for your Sass build
@import "../govuk_style_setup";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

@import "../components/accordion";
@import "../components/autocomplete";
@import "../components/filters";
@import "../components/footer";
@import "../components/header";
@import "../components/js-enabled";
@import "../components/list";
@import "../components/pagination";
@import "../components/summary-card";
@import "../components/callout";

@import "./components/card";
@import "./components/inset-text";
@import "./components/link";
@import "./components/navigation-bar";
@import "./components/status-box";
@import "./components/summary-list";
@import "./components/tab-navigation";
@import "./components/table";
@import "./components/tabs";
@import "./components/title-bar";
@import "./components/code";
@import "./components/secondary-navigation";
@import "./components/dynamic_preview";

.app-list--dash {
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -16px;

      color: govuk-colour("dark-grey");

      content: "\2013";
    }
  }
}

// This ensures govuk-button-to form wrapper is aligned within button groups properly
.govuk-button-group {
  form {
    display: contents;
  }
}

.govuk-tag-no-max-width {
  max-width: none;
}

.app-action-group {
  display: block;

  gap: govuk-spacing(2);
  @include govuk-media-query($until: tablet) {
    :not(:first-child) {
      margin-top: govuk-spacing(2);
    }
  }

  @include govuk-media-query($from: tablet) {
    display: flex;

    column-gap: govuk-spacing(4);
    align-items: center;
  }
}
