<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form.govuk_collection_check_boxes :subject_codes, primary_subject_options,
       :code, :name, legend: { text: "Which courses would you like to find?" } %>

    <%= form.govuk_submit "Find courses" %>
  </div>
</div>
