<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_collection_check_boxes :subjects, secondary_subject_options,
                                          :code, :name, :financial_info, legend: { text: t("find.subjects_page.secondary_title"), size: "l", tag: "h1" } %>

    <%= f.govuk_submit "Continue" %>
  </div>
</div>
