<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Browse secondary courses
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m">
    Science, technology, engineering and mathematics (STEM)
  </h3>

  <div class="govuk-form-group" style="margin-bottom:10px;">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-1" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="subject-1">
            Biology
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Bursaries of £26,000 available
          </div>
        </div>
         <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="subject-2">
            Chemistry
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Scholarships of £31,000 or bursaries of £28,000 are available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-3" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-3">
            Computing
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Scholarships of £31,000 or bursaries of £28,000 are available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-4" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-4">
            Design and technology
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Bursaries of £26,000 available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-5" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-5">
            Mathematics
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Scholarships of £31,000 or bursaries of £28,000 are available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-6" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-6">
            Physics
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Scholarships of £31,000 or bursaries of £28,000 are available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-35" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-35">
            Science
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <h3 class="govuk-heading-m">
    Languages and literature
  </h3>

     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-7" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-7">
              English
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £5,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-8" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-8">
              Ancient Greek
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-9" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-9">
              Ancient Hebrew
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-10" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-10">
              French
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Scholarships of £28,000 or bursaries of £26,000 are available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-11" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-11">
              German
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Scholarships of £28,000 or bursaries of £26,000 are available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-12" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-12">
              Italian
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-13" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-13">
              Japanese
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-14" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-14">
              Latin
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-15" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-15">
              Mandarin
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-16" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-16">
              Russian
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Bursaries of £26,000 available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-17" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-17">
              Spanish
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
              Scholarships of £28,000 or bursaries of £26,000 are available
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="subject-18" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="subject-18">
              Other modern languages
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Bursaries of £26,000 available
            </div>
          </div>
        </div>
      </fieldset>
    </div>

  <h3 class="govuk-heading-m">
    Arts, humanities and social sciences
  </h3>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="subject-19" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="subject-19">
          Art and design
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
          Bursaries of £10,000 available
        </div>
      </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-23" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="subject-23">
            Business studies
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-25" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="subject-25">
            Citizenship
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-24" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-24">
            Classics
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-26" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="subject-26">
            Communication and media studies
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-27" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="subject-27">
            Dance
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-28" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="subject-28">
          Drama
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-29" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="subject-29">
            Economics
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-20" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-20">
            Geography
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Bursaries of £26,000 available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-31" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-31">
            History
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-21" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-21">
            Music
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Bursaries of £10,000 available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-32" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-32">
            Philosophy
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-34" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-34">
            Psychology
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-22" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-22">
            Religious education
          </label>
          <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint govuk-!-font-size-16">
            Bursaries of £10,000 available
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-36" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="subject-36">
            Social sciences
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <h3 class="govuk-heading-m">
    Health and physical education
  </h3>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
       <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-30" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="subject-30">
            Health and social care
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="subject-33" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="subject-33">
            Physical education
          </label>
        </div>
    </fieldset>
  </div>

  <%= link_to "Find secondary courses", find_results_path(has_vacancies: true, applications_open: true, subjects: Subject.where(type: 'SecondarySubject').pluck(:subject_code)), class:"govuk-button" %>

<!--Financial support-->
<div class="govuk-notification-banner govuk-notification-banner--git govuk-accordion__section--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
    <h3 class="app-advice__title">
      Financial support
    </h3>
    <h4 class="govuk-heading-s">
      Bursaries and scholarships
    </h4>
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries">
        Find out whether you are eligible for a bursary or scholarship</a>.
    </p>
    <h4 class="govuk-heading-s">
      Student loans
  </h4>
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans">
      Find out more about student loans for teacher training</a>.
  </p>
  </div>
</div>
<!--END Financial support-->

</div>
</div>
