<% content_for :page_title, "#{@accredited_provider.provider_name} (#{@accredited_provider.provider_code})" %>
<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
        href: publish_provider_recruitment_cycle_accredited_partnerships_path(
          provider_code: @training_provider.provider_code,
          recruitment_cycle_year: @training_provider.recruitment_cycle_year,
        ),
      ) %>
<% end %>
<h1 class="govuk-heading-l">
  <%= @accredited_provider.provider_name %>
</h1>
<%= render Publish::Providers::AccreditedProviderDetails.new(provider: @accredited_provider) %>
<p class="govuk-body">
  <%= govuk_link_to t(".remove"),
        delete_publish_provider_recruitment_cycle_accredited_partnership_path(
          accredited_provider_code: @accredited_provider.provider_code,
          provider_code: @training_provider.provider_code,
          recruitment_cycle_year: @training_provider.recruitment_cycle_year,
        ),
        class: "app-link--destructive govuk-!-font-weight-regular" %>
</p>
