<h2 class="govuk-heading-m">Courses</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <div class="app-card app-card--blue" data-qa="performance-dashboard-stat">
      <span class="app-card__count">
        <%= @performance_data.total_courses %>
      </span>
      courses listed in Find
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-one-third">
    <div class="app-card app-card--green" data-qa="performance-dashboard-stat">
      <span class="app-card__secondary-count">
        <%= @performance_data.courses_total_open %>
      </span>
      open courses
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-card app-card--red" data-qa="performance-dashboard-stat">
      <span class="app-card__secondary-count">
        <%= @performance_data.courses_total_closed %>
      </span>
      closed courses
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-card" data-qa="performance-dashboard-stat">
      <span class="app-card__secondary-count">
        <%= @performance_data.courses_total_draft %>
      </span>
      draft courses
    </div>
  </div>
</div>
