<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-quarters">Email</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @users.each do |user| %>
      <tr class="govuk-table__row user-row">
        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
              <%= govuk_link_to(user.full_name, support_recruitment_cycle_provider_user_path(@provider.recruitment_cycle_year, @provider, user), class: "govuk-heading-s govuk-!-margin-bottom-0") %>
          </span>
        </td>

        <td class="govuk-table__cell">
          <span class="govuk-!-display-block govuk-!-margin-bottom-1">
            <%= user.email %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
