<div data-qa="course__bursary_details">
<p class="govuk-heading-s">
Bursaries
</p>
<p class="govuk-body">
  This course has a bursary of <%= number_to_currency(bursary_amount) %> available to eligible trainees.
</p>
<p class="govuk-body">
<%= govuk_link_to("Find out whether you are eligible for a bursary", "https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries") %>.
</p>
  <p class="govuk-heading-s">
    Student loans
  </p>
  <p class="govuk-body">
    You may be eligible for student loans to cover the cost of your tuition fee or to help with living costs.
  </p>
  <p class="govuk-body">
    <%= govuk_link_to("Find out more about student loans for teacher training", "https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans") %>.
  </p>
</div>
